.topic__single {

    &__detail {
        margin-top:20px;
    }
}

#individual-single {

    .front {
        padding:80px 0;
        color:white;
        border-bottom:1px solid white;
        position:relative;

        &__bands {
            overflow:hidden;
            width:100%;
            height:100%;
            position:absolute;
            top:0;
            left:0;
            z-index:1;

            &:before,
            &:after {
                z-index:1;
                content:"";
                position:absolute;
                left:-200px;
                top:-50%;
                height:200%;
                width:400px;
                background:fade(black, 20%);
                .rotate(-25deg);
            }

            &:after {
                width:300px;
                background:fade(white, 20%);
            }
        }

        h2, &__heading {
            position:relative;
            z-index:20;
            pointer-events: none;
        }

        &__heading {

            &__meta {
                color:fade(#fff, 60);
                display:block;
                margin-left:0px;

                & > a, .open-field-sources-link {
                    color:inherit;
                    display: inline;
                    padding:0;
                    pointer-events: auto;
                    text-decoration: none;
                }

                .field-sources {
                    position:relative;
                    display: inline-block;
                    margin-left:20px;

                    &__popover {
                        margin-right:0;
                        pointer-events: auto;
                    }

                }
            }
        }

        &__tabs {

            z-index:20;
            position:absolute;
            bottom:-1px;
            left:0;
            right:0;

            ul {
                margin:0;
            }

            &__tab {           
                margin-right:10px;
                padding:0;

                a {
                    text-decoration: none;
                    border:1px solid white;     
                    color:black;
                    display: block;
                    padding:10px 15px;       
                    background:darken(@body-bg, 5%);
                    border-radius: @border-radius-base @border-radius-base 0 0;
                    .box-shadow(0 -2px 2px 0 fade(black, 20));
                }

                &.active a {                    
                    background:@body-bg;
                    font-weight: bold;
                    border-bottom: 1px solid @body-bg;   
                }
            }

        }


    }


    table {
        // Thanks to! http://blog.room34.com/archives/5042
        table-layout: fixed;
        word-wrap:break-word;

        .field-name {
            width:150px;
        }

        .field-source {
            width:100px;
        }
    }

    .relationship {

        .field-source {
            float:right;
            margin-right:10px;
        }
    }

    .map {
        position:relative;
        display:block;

        .lab {
            display:block;
            position: absolute;
            top:0;
            left:0;
            right:0;
            padding:10px;
            background:fade(white, 80);
            color:@body-bg;
        }

        img {
            margin:5px 0;
            max-width: 100%;
            min-width: 100%;
            height:auto;
        }
    }

}

