<div class="modal-header">
    <h4>
        <strong>[[getModel(relationship.model).verbose_name]]</strong>
	    <em>[[relationship.verbose_name || relationship.name]]</em>
	    <strong>[[getModel(relationship.related_model).verbose_name]]</strong>
    </h4>
</div>
<div class="modal-body">
    <p>
    	If you delete this relationship, all the fields associated to this relationship will be deleted too.
    	Are you sure to continue?
    </p>
    <div ng-show="mayLostData" class="alert alert-warning bottom0">
    	<i class="fa fa-warning"></i>
    	<strong>You're about to remove an existing relationship.</strong><br />Every data associated to this relationship will be lost.
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>