Django==1.4.4
argparse==1.2.1
boto==2.9.6
distribute==0.6.31
dj-database-url==0.2.1
django-angular==0.1.4
django-appconf==0.6
django-compressor==1.3
django-storages==1.1.8
django-debug-toolbar
django-widget-tweaks==1.3
gunicorn==0.17.4
mimeparse==0.1.3
python-dateutil==2.1
pytz==2013b
six==1.3.0
wadofstuff-django-serializers==1.1.0
wsgiref==0.1.2
git+https://github.com/pirhoo/neo4django/#egg=neo4django-dev
lxml==3.2.1
BeautifulSoup<4.0
