{% extends "base.dj.html" %}
{% load staticfiles %}
{% load compress %}

{% block extracss %}
    {% compress css %}
        <link rel="stylesheet" type="text/less" href="{% static 'css/base.less' %}">
        <link rel="stylesheet" type="text/less" href="{% static 'components/ngprogress-lite/ngprogress-lite.css' %}">
    {% endcompress %}
{% endblock %}

{% block extrajs %}

    {% compress js %}
        <script type="text/coffeescript" src="{% static 'js/app.coffee' %}"></script>
    {% endcompress %}
    <span class='topic__single__graph__worker'>
        {% compress js %}
            <script type="text/coffeescript" src="{% static 'js/workers/topic.single.graph.coffee' %}"></script>
        {% endcompress %}
    </span>
{% endblock %}

{% block content %}
    <div class="main-aside-wrapper">
        <div class="main-aside-pushed">
            {% include "partials/header.dj.html" %}
            {% include "partials/main-aside.dj.html" %}
            <div ui-view autoscroll class="content" ng-class="{ freeze: Page.loading() }"></div>
            {% include "partials/footer.dj.html" %}
        </div>
    </div>
{% endblock %}