<div class="container page">
    <div class="row">
        <div class="col-sm-8">
            <h2 ng-init="Page.title('About')">About Detective.io</h2>
            
            <h3>Why did you build Detective.io?</h3>
            
            <p>We were working on an investigation about innovative energy projects in developing countries thanks to a grant from the European Journalism Center. We couldn't find a database that would let us store all our data, so we built one and made it reusable.</p>
            
            <h3>Who is behind Detective.io?</h3>
            
            <p><a target="_blank" href="http://paris.jplusplus.org">Journalism++ SAS</a>. We are a company specialized in data-driven journalism and are fully independent.</p>
            
            <h3>What about privacy?</h3>
            
            <p>In the European Union, collecting data about individuals is strictly regulated by <a target="_blank" href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:31995L0046:en:HTML">Directive 95/46/EC</a>. It provides large exemptions for journalists, but you should always make sure that you're operating within the limits set by the laws of your own jurisdiction when using Detective.io.</p>
            
            <h3>Who owns the data inserted into Detective.io?</h3>

            <p>As you can read in our <a href="https://www.detective.io/page/terms/">Terms</a>, the data belongs to the user who owns (who created) the investigation.</p>
            
            <h3>Can I embed the network visualization?</h3>
            
            <p>Not yet. This feature is planned. To make it happen faster, you can <a href="mailto:contact@detective.io"></a>contact us</a> to fund us or help out on <a href="https://github.com/jplusplus/detective.io/" target="_blank">Github</a>.</p>
            
            <h3>Can I choose a specific of visualisation (network or map)?</h3>
            
            <p>The network visualization is available when you click “Explore” on the homepage of your investigation. The map is available at the bottom of the homepage of your investigation. We are planning to add more visualization types. To make it happen faster, you can <a href="mailto:contact@detective.io"></a>contact us</a> to fund us or help out on <a href="https://github.com/jplusplus/detective.io/" target="_blank">Github</a>.</p>
            
            <h3>Countries don’t show up on my map</h3>
            
            <p>Countries only show up on the map if you give them their proper ISO alpha-3 code (e.g USA for the United States of America, FRA for France etc.) The <a href="http://en.wikipedia.org/wiki/ISO_3166-1_alpha-3" target="_blank">full list is available at Wikipedia</a>.</p>

        </div>
    </div>
</div>
