<form id="create-topic" class="container topic-form topic-form--[[formMode()]]"
      name="form" ng-submit="submit(form)" novalidate>

    <div class="topic-form__header">
      <h2>Create a new data collection</h2>

      <ul class="nav nav-pills topic-form__header__tabs" role="tablist">
        <li class="topic-form__header__tabs__item" ng-class="{ active: $state.is('user-topic-create.choose-ontology') }">
          <a ui-sref=".choose-ontology">
            1. Choose a template
          </a>
        </li>
        <li ng-show="selected_skeleton" class="topic-form__header__tabs__item" ng-class="{ active: $state.is('user-topic-create.describe') }">
          <a ui-sref=".describe">
            2. Describe your data collection
          </a>
        </li>
        <li ng-hide="selected_skeleton" class="topic-form__header__tabs__item disable">
          <a>
            2. Describe your data collection
          </a>
        </li>
      </ul>
    </div>

    <div ui-view></div>

    <a ui-sref="home.dashboard"><i class='fa fa-arrow-left'></i>&nbsp;Go back to your dashboard</a>
</form>
