<div class="topic-edit-ontology">
    <div class="panel panel-default">
        <div class="panel-heading">
            Your data structure contains the data models and the relationships between.
        </div>
        <div class="topic-edit-ontology__workspace">
            <div class="row">
                <div class="col-md-7">
                    <div ontology-visualization class="topic-edit-ontology__workspace__ontology-visualization">
                        <div ng-repeat="model in models" id="model[[model.name]]" class="model">
                            [[model.verbose_name]]
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="topic-edit-ontology__workspace__menu">

                        <div class="topic-edit-ontology__workspace__menu__sub-menu topic-edit-ontology__workspace__menu__sub-menu--models">
                            <h4 class="topic-edit-ontology__workspace__menu__sub-menu__title">
                                Data models
                            </h4>
                            <p class="text-muted">A data model represents a thing of the real world like a person, a company, etc.</p>
                            <button class="btn btn-default" ng-click="addingModel = true">
                                <i class="fa fa-plus"></i>
                                Add new data model
                            </button>
                            <button class="btn btn-default" ng-click="editingModel = true">
                                <i class=""></i>
                                <i class="fa fa-edit"></i>
                                Edit data model
                            </button>
                        </div>

                        <hr />

                        <div class="topic-edit-ontology__workspace__menu__sub-menu topic-edit-ontology__workspace__menu__sub-menu--relationships">
                            <h4 class="topic-edit-ontology__workspace__menu__sub-menu__title">
                                Relationships
                            </h4>
                            <p class="text-muted">A relationship represents a link between data models like a partnership, an ownership, etc.</p>
                            <button class="btn btn-default">
                                <i class="fa fa-plus"></i>
                                Add new relationship
                            </button>
                            <button class="btn btn-default">
                                <i class=""></i>
                                <i class="fa fa-edit"></i>
                                Edit relationship
                            </button>
                        </div>

                        <div class="topic-edit-ontology__workspace__menu__panel" ng-show="addingModel">
                            <h4 class="topic-edit-ontology__workspace__menu__panel__title">
                                Add new data model
                            </h4>
                            <div ng-if="addingModel"
                                 model-form="newModel"
                                 models="models"
                                 submit="addModel(newModel)"
                                 cancel="$parent.addingModel = false"></div>
                        </div>
                        <div class="topic-edit-ontology__workspace__menu__panel" ng-show="editingModel">
                            <h4 class="topic-edit-ontology__workspace__menu__panel__title">
                                Edit data model
                            </h4>
                            <div ng-hide="selectedModel">
                                <p>Choose the data model to edit</p>
                                <ul class="list-unstyled">
                                    <li ng-repeat="m in models | orderBy:'verbose_name'">
                                        <button  class="btn btn-default bottom10" type="button" ng-click="$parent.selectedModel = m">
                                            <i class="fa fa-edit"  style="color: [[m.name|strToColor]]"></i>
                                            [[m.verbose_name]]
                                        </button>
                                    </li>
                                </ul>
                                <div class="topic-edit-ontology__workspace__menu__panel__footer">
                                  <button class="btn btn-default" type="button" ng-click="editingModel = false">
                                      Cancel
                                  </button>
                                </div>
                            </div>
                            <div ng-show="selectedModel">
                                <div ng-if="selectedModel"
                                     model-form="selectedModel"
                                     models="models"
                                     submit="editModel(selectedModel, master)"
                                     cancel="$parent.editingModel = false"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
