<div class="panel panel-default">
  <div class="row">
    <div class="col-sm-8">
      <pre>[[models|json]]</pre>
    </div>
    <div class="col-sm-4">
      <h4>Choose wich columns are nodes</h4>
      <ul class="list-unstyled">
        <li ng-repeat="field in csv.meta.fields">
          <label class="checbox">
            <input type="checkbox" ng-model="areModels[field]" />
            <span class="label label-info">[[field]]</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>
