{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html ng-controller="PageCtrl" ng-app="detective" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html ng-controller="PageCtrl" ng-app="detective" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html ng-controller="PageCtrl" ng-app="detective" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-controller="PageCtrl" ng-app="detective" class="no-js"> <!--<![endif]-->
    <head >
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title ng-bind="Page.title() + ' - Detective.io'">Detective.io</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link type='text/css' href='http://fonts.googleapis.com/css?family=Merriweather:400,700,300|Lato:400,300,700&amp;subset=latin,latin-ext' rel='stylesheet'>
        {% block extracss %}{% endblock %}           
        <base href="{% url 'home' %}" />
    </head>
    <body ng-cloak>        
        {% block content %}{% endblock %}           
        {% block extrajs %}{% endblock %}           
    </body>
</html>