{% extends "base.dj.html" %}
{% load staticfiles %}
{% load compress %}

{% block extracss %}
    {% compress css %}
        <link rel="stylesheet" type="text/less" href="{% static 'detective/css/base.less' %}">
        <link rel="stylesheet" type="text/less" href="{% static 'components/ngprogress-lite/ngprogress-lite.css' %}">
    {% endcompress %}
{% endblock %}

{% block extrajs %}

    {% compress js %}
        <script type="text/javascript" src="{% static 'components/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/chroma-js/index.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/kartograph.js/index.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/raphael/raphael-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/jquery.scrollTo/jquery.scrollTo.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/js-md5/js/md5.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/modernizr/modernizr.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/typeahead.js/dist/bloodhound.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/typeahead.js/dist/typeahead.bundle.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/underscore/underscore.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/d3/d3.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/nanoscroller/bin/javascripts/jquery.nanoscroller.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/angular/angular.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/angular-cookies/angular-cookies.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/angular-elastic/elastic.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/angular-nanoscroller/scrollable.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/angular-resource/angular-resource.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/angular-sanitize/angular-sanitize.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/angular-truncate/src/truncate.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/bootstrap-checkbox/dist/bootstrap-checkbox.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/FileSaver/FileSaver.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/ng-file-upload/angular-file-upload.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/ngprogress-lite/ngprogress-lite.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/textAngular/dist/textAngular.min.js' %}"></script>
    {% endcompress %}

    {% compress js %}
        <script type="text/coffeescript" src="{% static 'detective/js/app.coffee' %}"></script>
        <!-- CONFIG -->
        <script type="text/coffeescript" src="{% static 'detective/js/config/authWatch.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/config/httpProvider.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/config/interpolation.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/config/ngProgressLite.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/config/rootScope.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/config/safeApply.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/config/states.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/config/urlRouter.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/config/textAngular.coffee' %}"></script>
        <!-- CONTROLLERS -->
        <script type="text/coffeescript" src="{% static 'detective/js/controllers/ArticleCtrl.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/controllers/ContactUsCtrl.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/controllers/ContributeCtrl.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/controllers/BulkUploadCtrl.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/controllers/ExploreCtrl.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/controllers/HeaderCtrl.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/controllers/HomeCtrl.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/controllers/IndividualListCtrl.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/controllers/IndividualSearchCtrl.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/controllers/IndividualSingleCtrl.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/controllers/MainAsideCtrl.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/controllers/NotFoundCtrl.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/controllers/PageCtrl.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/controllers/ProfileCtrl.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/controllers/RelationshipPropertiesCtrl.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/controllers/SearchFormCtrl.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/controllers/UserCtrl.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/controllers/UserTopicCtrl.coffee' %}"></script>
        <!-- DIRECTIVES -->
        <script type="text/coffeescript" src="{% static 'detective/js/directives/card.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/directives/changeOnBlur.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/directives/clickOutside.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/directives/colorTag.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/directives/countryMap.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/directives/focusOn.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/directives/noDuplicates.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/directives/parallax.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/directives/pwMatch.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/directives/screenHeight.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/directives/scrollTo.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/directives/topic.single.sources.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/directives/ttTypeahead.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/directives/unique.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/directives/topic.single.graph.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/directives/classOnFocus.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/directives/autofill.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/directives/checkboxpicker.coffee' %}"></script>
        <!-- FILTERS -->
        <script type="text/coffeescript" src="{% static 'detective/js/filters/individualPreview.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/filters/nl2br.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/filters/titlecase.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/filters/strToColor.coffee' %}"></script>
        <!-- SERVICES -->
        <script type="text/coffeescript" src="{% static 'detective/js/services/Auth.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/services/AuthHttpInterceptor.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/services/Common.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/services/QueryFactory.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/services/TopicsFactory.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/services/UtilsFactory.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/services/Individual.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/services/IndividualForm.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/services/Page.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/services/Search.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/services/Summary.coffee' %}"></script>
        <script type="text/coffeescript" src="{% static 'detective/js/services/User.coffee' %}"></script>
    {% endcompress %}

        <span class='topic__single__graph__worker'>
            {% compress js %}
                <script type="text/coffeescript" src="{% static 'detective/js/workers/topic.single.graph.coffee' %}"></script>
            {% endcompress %}
        </span>
{% endblock %}

{% block content %}
    <div class="main-aside-wrapper">
        <div class="main-aside-pushed">
            {% include "partials/header.dj.html" %}
            {% include "partials/main-aside.dj.html" %}
            <div ui-view autoscroll class="content" ng-class="{ freeze: Page.loading() }"></div>
            {% include "partials/footer.dj.html" %}
        </div>
    </div>
{% endblock %}