@staticPath: "../../detective/";

@import-once 'vendor/bootstrap/bootstrap.less';
@import-once "vendor/font-awesome/font-awesome.less";
@import-once 'tools.less';
@import-once 'animations.less';
@import-once 'bootstrap-overload.less';
@import-once "bootstrap-switch.less";

@zindex-context: 10;
@zindex-content: @zindex-context+100;
@zindex-header : @zindex-content+100;

@understand-color:#FE7878;
@contribute-color:#00BDA4;
@explore-color:#FDE59F;


body {
    position:relative;
    z-index:@zindex-context;

    a:hover,
    a:focus,
    a:active {
        text-decoration:none;
    }

	.understand-color { color:@understand-color; }
    .understand-bg {
    	background-color:@understand-color;    	
    	&, a { color:darken(@understand-color, 40%); }
    	a:hover { color:darken(@understand-color, 60%);}
    }
    .understand-shadow {
    	.box-shadow(0 3px 0 darken(@understand-color, 10));
    }

	.contribute-color { color:@contribute-color; }
	.contribute-bg {
		background-color:@contribute-color;		
		&, a { color:darken(@contribute-color, 40%); }
		a:hover { color:darken(@contribute-color, 60%);}
	}
	.contribute-shadow {
		.box-shadow(0 3px 0 darken(@contribute-color, 10));
	}

	.explore-color { color:@explore-color; }
	.explore-bg {
		background-color:@explore-color;		
		&, a { color:darken(@explore-color, 40%); }
		a:hover { color:darken(@explore-color, 60%);}
	}
	.explore-shadow {
		.box-shadow(0 3px 0 darken(@explore-color, 10));
	}

}

header {
	@open-speed: 0.4s;
	position:relative;
	z-index:@zindex-header;
	padding-top:20px;
	background:#2E2D2A;
	overflow:hidden;
	.box-shadow(0 3px 0 fade(#000, 10));
	.transition(@open-speed);
	
	.form-login {
		padding:0 20px;
		.form-control {
			width:160px;
		}
	}

	h1 {
		background: url("@{staticPath}img/hat.png") no-repeat 0 0;
		padding-left:80px;		
		margin:0 25px;
		text-shadow:0 3px 0 fade(#000, 10);
		
		a, a:hover, a:focus {
			color:inherit;
			text-decoration:none;
		}

		i, em {
			font-style:normal;
			color:fade(#fff, 20);
		}

		em {
			float:right;
			font-size:60%;
			font-style:italic;
		}
	}

	.loading:after {
		content:"";
		display:block;
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		.progress-striped .progress-bar();
		.progress-bar-variant(#2E2D2A);
		.progress.active .progress-bar();
		.opacity(0.4);
	}	

	nav {
	
		margin-top:20px;	
		padding:0;
		border-top:fade(#fff, 10) 1px solid;
		
		li {						
			color:white;
			overflow:hidden;
			float:left;
			font-size: 20px;
			display:block;
			line-height:60px;
			height:60px;			
			font-family:@headings-font-family;
			
			a {
				text-shadow:0 3px 0 fade(#000, 10);
				padding:0 30px;
				display:block;	
			}	

		}
	}
	
}

#content {
	position:relative;
	z-index:@zindex-content;
	padding-top:1px/10px;
	

	.login-form {
		width:500px;
		margin-left:auto;	
		margin-right:auto;	
	}

	.landing {
		
		&.all.cards {

			margin-left:30px;			

			.box {
				float:left;
				display:block;
				margin-right:30px;
				margin-top:30px;
				text-align:center;
				border:1px solid darken(#BCB5A6, 50%);
				border-bottom-width:3px;
				.box-shadow(0 3px 0 0 fade(#000, 10));
				
				a {
					display:table-cell;
					vertical-align:middle;
					padding:20px;
					height:260px;
					width:260px;
					background:#BCB5A6;					
					color:@body-bg;
				}
			}
		}
	}

	.twitter-typeahead {
		.form-control();
		padding:0;

		.tt-query, .tt-hint {
			padding:8px 12px;
			width:100%;
			border:0;
			background:transparent;
		}
	}

	.tt-hint {
		color:@input-color-placeholder;
	}

	.tt-dropdown-menu {
		width:100%;
		color:#000;
		.dropdown-menu()
	}

	.tt-suggestion {
		
		padding:3px 6px;
		
		&.tt-is-under-cursor {			
			background-color: @link-color;
			color:darken(@link-color, 60);
		}
	}

	.triggered-events {
		float: right;
		width: 500px;
		height: 300px;
	}

}

#contribute {
	
	.contribute-start, .individual-forms .individual {		
		padding:30px;
		a, & { color:white;	}
	}
		
	.kick-start {
		padding-top:40px;
		padding-bottom:20px;			
		border-bottom:fade(#fff, 20) 1px solid;
		
		label {
			text-align:right;
			font-weight:bold;
		}
		
		.form-control {
			width:200px;
		}
	}

	.individual-forms {

		.individual {
			margin-top:30px;
			margin-bottom:30px;
			padding:30px;
			position:relative;
			
			&.loading:after {
				content:"";
				display:block;
				position:absolute;
				top:0;
				bottom:0;
				left:0;
				right:0;
				.progress-striped .progress-bar();
				.progress-bar-variant(@contribute-color);
				.progress.active .progress-bar();
				.opacity(0.4);
			}
			
			.head {

				position:relative;
				margin-bottom:30px;
				padding-bottom:20px;
				border-bottom:fade(#fff, 20) 1px solid;
				
				.btns {
					position:absolute;
					top:50%;
					margin-top:-1em;
					right:0;
				}
		
				h3 {
					margin:0;
					&:first-letter {
						text-transform:uppercase;
					}
					a {
						text-decoration:underline;
					}
				}
			
				h4 {
					margin:0;
					color:mix(#FFF, @contribute-color);
				}
				
			}

			.multiple {				
				margin-bottom:5px;			
			}
			
			.input-group-addon {
				cursor:pointer;
			}

			&.reduce {
				.head {
					margin-bottom:0;
					border-width:0;
				}
				.form-horizontal, .errors {
					display:none;				
				}
			}	

			.ask-for-new {
				padding:10px;
				background:fade(#000, 10);	
				margin-bottom:5px;			
			}		
		}		
	}
}

#explore {
	
	.individual-list {
		
		.individual {
			padding-bottom:10px;
			border-bottom:1px lighten(#2E2D2A, 60) solid;
		}

		.individual:last-child {
			padding-bottom:0px;			
			border-bottom:0;
		}
	}
}