<div class="container plans-page">
    <div class="row">
        <div class="col-md-3 col-sm-6 home__tour__pricing__plan">
            <h3 class="home__tour__pricing__plan__name">free</h3>
            <div class="home__tour__pricing__plan__included">
                <b>3</b> data collections
            </div>
            <div class="home__tour__pricing__plan__included">
                <b>100</b> items per data collection
            </div>
            <div class="home__tour__pricing__plan__included">
                <b>5</b> generic data schemes
            </div>
            <div class="home__tour__pricing__plan__included">
                <b>Public</b> data collections
            </div>
            <div class="home__tour__pricing__plan__included">
                No custom data schemes
            </div>
            <div class="home__tour__pricing__plan__subscribe">
                <a ui-sref="signup" class="btn btn-primary btn-lg" ng-hide="user.is_logged">
                    Sign up
                </a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 home__tour__pricing__plan home__tour__pricing__plan">
            <h3 class="home__tour__pricing__plan__name">
                <a target="_blank" href="https://duckduckgo.com/?q=miss+marple">Jane</a>
            </h3>
            <div class="home__tour__pricing__plan__included">
                <b>5</b> data collections
            </div>
            <div class="home__tour__pricing__plan__included">
                <b>500</b> items per data collection
            </div>
            <div class="home__tour__pricing__plan__included">
                <b>All</b> generic data schemes
            </div>
            <div class="home__tour__pricing__plan__included">
                <b>Public</b> data collections
            </div>
            <div class="home__tour__pricing__plan__included">
                No custom data schemes
            </div>
            <div class="home__tour__pricing__plan__subscribe">
                <a ui-sref="subscribe({plan:'jane'})" class="btn btn-lg btn-stroke">
                    90€/mo
                </a>
            </div>
        </div>




        <div class="col-md-3 col-sm-6 home__tour__pricing__plan home__tour__pricing__plan--highlight">
            <h3 class="home__tour__pricing__plan__name">
                <a target="_blank" href="https://duckduckgo.com/?q=hank+schrader">Hank</a>
            </h3>
            <div class="home__tour__pricing__plan__included">
                <b>Unlimited</b> data collections
            </div>
            <div class="home__tour__pricing__plan__included">
                <b>1000</b> items per data collection
            </div>
            <div class="home__tour__pricing__plan__included">
                <b>All</b> generic data schemes
            </div>
            <div class="home__tour__pricing__plan__included">
                <b>Public and private</b> data collections
            </div>
            <div class="home__tour__pricing__plan__included">
                <b>1</b> custom data scheme
            </div>
            <div class="home__tour__pricing__plan__subscribe">
                <a ui-sref="subscribe({plan:'hank'})" class="btn btn-lg btn-default">
                    590€/mo
                </a>
            </div>
        </div>


        <div class="col-md-3 col-sm-6 home__tour__pricing__plan">
            <h3 class="home__tour__pricing__plan__name">
                <a target="_blank" href="https://duckduckgo.com/?q=sherlock+holmes">Sherlock</a>
            </h3>
            <div class="home__tour__pricing__plan__included">
                <b>Unlimited</b> data collections
            </div>
            <div class="home__tour__pricing__plan__included">
                <b>Unlimited</b> items per data collection
            </div>
            <div class="home__tour__pricing__plan__included">
                <b>All</b> generic data schemes
            </div>
            <div class="home__tour__pricing__plan__included">
                <b>Public and private</b> data collections
            </div>
            <div class="home__tour__pricing__plan__included">
                <b>5</b> custom data schemes
            </div>
            <div class="home__tour__pricing__plan__subscribe">
                <a ui-sref="subscribe({plan:'sherlock'})" class="btn btn-lg btn-stroke">
                    1050€/mo
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        Are you an investigative journalist, an NGO or an education professional?  Contact us for special rates!
    </div>
</div>
