<div class="dashboard container">
	<div ui-view autoscroll>
		<h2><i class="fa fa-dashboard"></i> Dashboard</h2>
		<p class="lead">
			Your dashboard displays all the data collections you created and the data collections you collaborate to.
		</p>
		<div class="clearfix">
			<ul class="list-unstyled dashboard__topics row">
				<li class="col-sm-4">
					<div class="dashboard__topics__item dashboard__topics__item--new-item">
						<a ui-sref="user-topic-create({username: user.username})">
							<h3>
								Create a new data collection
							</h3>
						</a>
					</div>
				<li ng-repeat="topic in topics" class="col-sm-4">
					<div class="dashboard__topics__item">
						<img ng-src="[[topic.thumbnail.medium]]" class="dashboard__topics__item__bg" />
						<h4 class="dashboard__topics__item__title">
							<span class="dashboard__topics__item__visibility pull-right"
								  tooltip-placement="bottom"
								  tooltip="[[ topic.public ? 'public collection' : 'private collection' ]]">
								<i class="fa"
								   ng-class="{
								       'fa-unlock': topic.public,
								       'fa-lock': !topic.public
								   }"></i>
							</span>
							<a ui-sref="user-topic({ username: topic.author.username, topic: topic.slug })">
								[[topic.title]]
							</a>
						</h4>
						<p ng-if="user.owns(topic)">
                            <i class="fa fa-cube"></i>&nbsp;
                            Owned by you
						</p>
						<p ng-if="!user.owns(topic)">
                            <i class="fa fa-cubes"></i>&nbsp;
							by <a ui-sref="user(topic.author)">[[topic.author.username]]</a>
						</p>
						<p class="dashboard__topics__item__btns">
							<a class="btn btn-default"
								ng-if="user.owns(topic)"
								ui-sref="user-topic-edit({topic: topic.slug, username: topic.author.username})">
								<i class="fa fa-cog"></i>
								Settings
							</a>
							<a class="btn btn-default"
								ng-click="openLeaveModal(topic)"
								ng-if="!user.owns(topic)">
								<span class="text-danger">
									<i class="fa fa-warning"></i>
									   Leave data collection
									</a>
								</span>
							</a>

							<a class="btn btn-default" ng-if="isAdmin(topic)" ui-sref="user-topic-invite({topic: topic.slug, username: topic.author.username})">
								<i class="fa fa-users"></i>
								Collaborators
							</a>
						</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<ul class="dashboard__paginator pagination pull-right">
		<li ng-if="hasPrevious()">
			<a ng-click="previousPage()">
				<i class="fa fa-caret-left"></i>
				&nbsp;Previous
			</a>
		</li>
		<li ng-if="hasNext()">
			<a ng-click="nextPage()">
				Next&nbsp;
				<i class="fa fa-caret-right"></i>
			</a>
		</li>
	</ul>
</div>
