.account {

    &__user-info {
        max-width: 200px;
        .center-block();

        h2 {
            margin-bottom: 0 !important;
        }
    }

    &__topics {

        &__topic {

            &__no-img {
                display: inline-block;
                .square(60px);
            }

            a {
                vertical-align: bottom;
                text-decoration: none;
            }

        }

    }

}