.account {

    &__user-info {
        max-width: 200px;
        overflow-x: visible;
        .center-block();

        h2 {
            margin-bottom: 0 !important;
        }

        &__wrapper {
            width: 400px;
        }

        @dt-width: 100px;

        dt {
            width: @dt-width;
            text-align: left;
        }

        dd {
            margin-left: @dt-width;
        }
    }

    &__topics {

        &__topic {

            &__no-img {
                display: inline-block;
                .square(60px);
            }

            a {
                vertical-align: bottom;
                text-decoration: none;
            }

        }

    }

}