header {
    top:0;
    left:0;
    right:0;
    position:fixed;
    z-index:@zindex-header;
    padding:0;
    height:@header-height;
    background:@header-bg;
    border-bottom:1px solid #DDD;
    color:contract(@header-bg);

    .box-shadow(0px 1px 2px rgba(0, 0, 0, 0.07));
    .transition(@header-open-speed);
    .opacity(100);

    .is-home & {
        .opacity(0);
        .translate(0, -100px);
    }

    h1 {
        background: url("@{staticPath}img/favicon.ico") no-repeat left center;
        background-size:60px auto;
        margin:0 15px;
        font-size: 140%;
        height:@header-height;
        line-height:@header-height;

        a {
            padding-left:70px;
        }

        a, a:hover, a:focus {
            color: #000;
            text-decoration:none;
        }

        i, em {
            font-style:normal;
            color:fade(#000, 60);
        }

        em {
            float:right;
            font-size:60%;
            font-style:italic;
        }
    }

    .user-state {
        height:@header-height;
        line-height:@header-height;
        font-size:90%;
    }

    .topic-search {
        border-left:#DDD solid 1px;
        position:absolute;
        top:0;
        bottom:0;
        padding-top:9px;
        padding-left:9px;
        left:250px;
        right:200px;

        .twitter-typeahead, .input-control {
            width:50%;
            height: @header-height - 19px;
            padding-top:0;
        }

        .btn {
            max-width:140px;
            overflow: hidden;
        }

        .btn-group {
            width: 100%;
        }

        .form-control,  .tt-query {
            padding:2px 10px;
        }

        &__input {

            position:relative;

            &__submit-btn {
                position: absolute;
                z-index: 4;
                top:-8px;
                right:10px;
                cursor: pointer;
                background-color:white;
            }
        }
    }
}