.plan-overfill-message {
	background-color : #FFE75E;
	width            : 50%;
	min-width        : 300px;
	margin           : 0 auto;
	padding          : 5px 20px;
	margin-bottom    : 20px;
	&.attention {
		background-color : #A56B6B;
		color: white;
	}
	&__title {
		font-weight : bold;
		font-size   : 1.2em;
	}
}