#contribute {

     @media (min-width: @screen-md) {

        .contribute-start {
            overflow:hidden;
            padding:0 30px;
            max-height:0;
            .translate(0, -10px);
            .transition(0);


            &.open {
                padding:30px;
                max-height:800px;
                .translate(0, -1px);
                .transition(~"max-height 0.7s, transform 0.7s");
            }
        }
    }

    .kick-start {
        padding-top:40px;
        padding-bottom:20px;
        border-bottom:fade(#000, 5) 1px solid;

        label {
            text-align:right;
            font-weight:bold;
        }

        .form-control {
            width:200px;
        }
    }
    .add-source-form {
        .field-sources {
            padding: 0;
            margin-bottom: 0;
            list-style: none;
            li {
                .input-group {
                    width: 100%;
                    margin-bottom: 5px;
                }
                input, input:focus {
                    outline: none;
                    height: 29px;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}

.ta-editor.form-control {
    height: auto;
    min-height: 31px;
}