.topic__invite {
	text-align: center;
	&__panel {
		margin: auto;
		margin-bottom: 10px;
		max-width: 500px;
		&__bg {
			float:left;
		}
		> * {
			text-align: left;
		}

		&__preview {
			border-left:1px @panel-default-border solid;
			padding-left:10px;
			margin-left:60px;
			overflow: hidden;
			min-height:60px;

			&__title {
				margin-bottom:5px;
			}

			&__author {
				margin-bottom:0;
			}
		}

		&__user-picker {
			height:31px;
			border-top:1px @panel-default-border solid;
			clear:both;

			.form-control, input, .twitter-typeahead {
				border:0;
			}
		}
	}

	&__list {
		.loading {
            .progress-striped .progress-bar();
            .progress-bar-variant(#eee);
            .progress.active .progress-bar();
        }
	}
}