.field-sources {
    @border-color: rgba(0, 0, 0, 0.15); 
    @arrow-width: 15px;
    @padding: 10px;
    @background-color: #FFF;
    @z-index-sources-popover: 4;

    &__popover {
        // positions & sizes 
        position: absolute;
        top: 0;
        z-index: @z-index-sources-popover;
        padding: @padding;
        min-width: 250px;
        // other styles (font+colors)
        background: @background-color;
        border: 1px solid @border-color;

        text-align: left;

        .arrow {
            border-width: @arrow-width;
            &:after {
                content: " ";
                border-width: @arrow-width - 1px;
                display: block;
            }
        }

        .arrow, .arrow:after {
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-color: transparent;
        }

        &--down {
            border-bottom: 0;
            border-top-color: @border-color;
            .arrow {
                border-bottom: 0;
                border-top-color: @background-color;
            }

        }

        &--up {
            right: @padding + 20px;
            top: 60px;
            .arrow {
                right: @padding + 5px;
                top: 100%;
                border-top: 0;
                top: -@arrow-width;  
                border-bottom-color: @border-color;
                &:after {
                    top: 1px;
                    left: -( @arrow-width - 1px);
                    border-top: 0;
                    border-bottom-color: @background-color;

                }
            }
        }

        &--right {
            left: 100%;
            .translate(-20px, 0);
            

            .arrow {
                left: -@arrow-width;
                top: 3px;
                border-left: 0;
                border-right-color: @border-color;
                top: 20px;
                &:after {
                    top: -(@arrow-width - 1px);
                    left: 1px;
                    border-left: 0;
                    border-right-color: @background-color;
                }
            }
        }



        &__list {
            list-style: none;
            padding: 0;
        }
    }
}