.topic-form {

    @media (min-width: 992px) {
      .container {
        width: 750px;
      }
    }

    .skeletons {
        margin-top: 20px;

        .skeleton-wrapper {
            margin-bottom: 5px;
            min-width:  350px + 20px;

            .skeletons__item {
                min-height : 300px;
                width      : 350px;
                margin     : auto;

                &__tutorial {
                    font-size: 105%;
                    padding:7px 0;
                }

                img {
                    .transition(all .35s);
                    cursor:pointer;
                    .opacity(.5);
                    &:hover {
                        .opacity(1);

                    }
                    &:before {
                        background: #DDD;
                        content: " ";
                        position: relative;
                        .transition(all .35s);
                        .opacity(.5);
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                    }
                }
                h5 a {
                    color: @brand-secondary;
                }
                &--selected {
                    img {
                        .opacity(1);
                    }
                }

                &--teaser {
                    p, h3, h4, h5 {
                        .opacity(0.4);
                    }
                    img {
                        .opacity(0.20);
                        &:hover {
                            .opacity(0.20);
                        }
                    }
                    html body &__teasing-text {
                        top: 100px;
                        position: absolute;
                        width: 350px;
                        padding: 0;
                        cursor: pointer;
                        text-align: center;
                        .opacity(0.85);
                        color: constrast(@brand-secondary);
                    }
                }

                &--new-skeleton {
                    &__box {
                        min-height : 240px;

                        padding-top: 40px;
                        padding-left: 20px;
                        cursor:pointer;
                        border: 3px @brand-secondary dashed;
                        color: @brand-secondary;
                        vertical-align: middle;
                        p {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }

    .form-horizontal {
        .short-text .ta-editor {
            min-height: 55px;
        }
        .long-text .ta-editor {
            min-height: 380px;
        }

        .form-group {
            &.disabled {
                background: fade(@panel-primary-heading-bg, 35%);
                color: fade(@panel-default-text, 30%);
                .help-block {
                    color: fade(@help-block-text, 30%);
                }
                .disabled-explanation {
                    color: @panel-info-text;
                }

            }
        }

        &.error {
            .panel-heading {
                color: @panel-warning-text;
                border-color: darken(@panel-warning-border, 5);
                background: @panel-warning-heading-bg;
                // background-color: lighten(@brand-danger, 20%);
            }
            border-bottom: 1px solid @brand-danger;
        }

        &.saved {
            .form-footer {
                 color: @panel-success-text;
                background: @panel-success-heading-bg;
                border-color: darken(@panel-success-border, 5);
            }

        }

    }


    &--create {
        .form-footer {
            &__submit-btn {
                min-width: 233px;
            }
        }

    }
    &--edit {
        .form-footer {
            &__submit-btn {
                right: 10px;
            }
        }
    }
}