.general-graph-navigation {
    height:100%;
    background-color: rgb(105, 99, 99);
    &__close-network-view {
        position : absolute;
        top      : 20px;
        right    : 20px;
        color    : white;
    }
    &__filters-box {
        position           : absolute;
        background-color   : white;
        display            : inline-block;
        color              : black;
        opacity            : .9em;
        padding            : 0 10px;
        margin             : 10px;
        .box-shadow(4px 4px 0px rgb(68, 62, 62));
    }
    &__graphviz {
        height : 100%;
    }
}

// EOF
