.topic-edit-ontology {
    &__ontology-visualization {
        margin           : 50px;
        padding          : 20px;
        border           : 1px solid black;
        background-color : #FAF7D4;
        min-height       : 400px;
        overflow         : hidden;
        .model {
            border           : 1px solid black;
            background-color : #ddddff;
            text-align       : center;
            min-width        : 100px;
            position         : absolute;
            min-height       : 50px;
            display          : inline-block;
        }
    }
}

._jsPlumb_overlay.label {
    background-color : white;
    padding          : 3px;
    border           : 1px solid black;
    color            : black;
    margin           : 10px;
}

// EOF
