#individual-list {

    .individual {
        position:relative;
        padding-left:100px;
        overflow:hidden;

        .thumb {
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            width:100px;
            overflow:hidden;
            background:fade(#000, 5);

            img {
                width:100%;
                height:auto;
            }
        }

        h4 {
            padding-left:10px;

             a {
                text-decoration: none;
            }
        }
    }

}
