<div class="user__topic__type__entity__card panel panel-default" ng-mouseenter="loadRelProperties()">
	<h5 class="panel-heading" ng-if="model.rules.is_searchable">
		<a ui-sref="user-topic-detail(singleParams())">
			[[individual|individualPreview:"No preview"]]
			<i class="fa fa-info-circle left05" ng-if="field.rules.has_properties"></i>
		</a>
	</h5>
	<h5 class="panel-heading" ng-if="!model.rules.is_searchable">
		[[individual|individualPreview:"No preview"]]
		<i class="fa fa-info-circle left05"></i>
	</h5>
	<div ng-if="mightHaveProperties()">
		<div class="user__topic__type__entity__card__details" ng-if="relProperties.length">
			<table class="table table-striped">
				<tr>
					<td class="text-center" colspan="2">
						<h6>About this relationship</h6>
					</td>
				</tr>
				<tr ng-repeat="property in relProperties">
					<td style="width: 30%">
						<strong>[[property.verbose_name]]</strong>
					</td>
					<td>

						<span ng-bind="get(property.name, true) | date:'longDate'" ng-if="property.type == 'DateTimeField'"></span>
						<span ng-bind="get(property.name, true) | linky:'_blank'"  ng-if="property.type == 'URLField'"></span>
						<span ng-bind="get(property.name, true)"                   ng-if="property.type == 'IntegerField'"></span>
						<span ng-if="property.type == 'CharField'">
							<span ng-switch on="isRich(property)">
								<span ng-switch-when="true" ng-bind-html="getTrusted(property.name)"></span>
								<span ng-switch-default ng-bind="get(property.name, true)"></span>
							</span>
						</span>
						<span ng-if="property.type == 'BooleanField'">
							<i class='fa' ng-class='{"fa-square-o": !get(property.name, true), "fa-check-square-o": get(property.name, true)}'></i>
						</span>
					</td>
				</tr>
			</table>
		</div>
		<div class="user__topic__type__entity__card__details user__topic__type__entity__card__details--empty" ng-if="!relProperties.length">
			<div class="alert alert-info" ng-if="!loadingProperties">
				No additional information available.
			</div>
			<div class="alert alert-info" ng-if="loadingProperties">
				Loading...
			</div>
		</div>
	</div>
</div>