<div class="container account" style="padding-top:20px;">
    <div class="account__user-info">
        <img ng-src="[[ user.gravatar ]]" />
        <h2>[[ user.name ]]</h2>
        <p class='lead text-muted'>[[ user.username ]]</p>
    </div>
    <div ng-if="shouldShowTopics" class="account__topics">
        <h3>Investigations</h3>
        <div>
            <ul class="list-unstyled">
                <li ng-repeat="topic in userTopics" class="account__topics__topic">
                    <img ng-if="topic.thumbnail" ng-src="[[ topic.thumbnail.small ]]" />
                    <span ng-if="!topic.thumbnail" class="account__topics__topic__no-img"></span>
                    <a ng-href="[[topic.link]]" class="lead text-muted">[[topic.title]]</a>
                </li>
            </ul>
        </div>
    </div>
</div>