<form class="login-form panel panel-default top30 black"
      ng-class="{loading:loading}"
      ng-submit="resetPasswordConfirm()"
      ng-hide="resetPasswordSucceed"
      name="form">
    <div class="panel-body">
        <h2>Enter your new password</h2>
        <fieldset ng-disabled="loading">
            <div class="form-group">
                <label for="inputPassword">New password</label>
                <div class="input-group">
                    <input required
                         autocorrect="off"
                         autocapitalize="off"
                         type="password"
                         name="password"
                         ng-model="newPassword"
                         class="form-control"
                         ng-minlength="6"
                         id="inputPassword"
                         placeholder="Create a password">
                    <span class="input-group-addon">
                        <i class="fa fa-check-square-o text-success" ng-show="form.password.$valid"></i>
                        <i class="fa fa-square-o"                    ng-hide="form.password.$valid"></i>
                    </span>
                </div>
                <p class="text-muted top05">
                  At least 6 characters.
                </p>
            </div>

            <div class="form-group">
            <label for="inputPasswordCheck">New password check</label>
                <div class="input-group">
                    <input required
                         autocorrect="off"
                         autocapitalize="off"
                         type="password"
                         name="newPassword2"
                         ng-model="newPassword2"
                         pw-match with="newPassword"
                         class="form-control"
                         id="inputPasswordCheck"
                         placeholder="Enter this password again">
                    <span class="input-group-addon">
                        <i class="fa fa-check-square-o text-success" ng-show="form.newPassword2.$valid"></i>
                        <i class="fa fa-square-o" ng-hide="form.newPassword2.$valid"></i>
                    </span>
                </div>
                <p class="text-danger top05" ng-show="form.newPassword2.$error.pwmatch">
                  Passwords don't match.
                </p>
          </div>
          <div class="alert alert-danger" ng-if="error">
            [[error]]
            <span ng-show="invalidURL">
                Click <a href="reset_password">here</a> to send a new one.
            </span>
          </div>
        </fieldset>
    </div>
    <div class="tr panel-footer">
        <a ng-href="/login" class="pull-left top05">Log in</a>
        <button type="submit" class="btn btn-primary">Reset your password</button>
    </div>
</form>

<div class="login-form panel top30 panel-success"
     ng-show="resetPasswordSucceed">
  <div class="panel-heading">
    <h2>Well done!</h2>
    <p>Your password has been reset, now you can <a href="{% url 'login' %}">log in</a> to your account.</p>
  </div>
</div>
