<div class="container">
    <div class="row top30">
        <div class="col-sm-6 col-sm-push-3">
            <div class="panel" ng-if="state == true">
                <div class="panel-body">
                    <h3>Your account is activated!</h3>
                </div>
                <div class="panel-footer">
                    Please go now to the <a ng-href="/login">login page</a>.
                </div>
            </div>
            <div class="panel panel-failled" ng-if="state == false">
                <div class="panel-heading">
                    <h3>Something went wrong...</h3>
                </div>
                <div class="panel-footer">
                    Unable to activate your account.
                </div>
            </div>
        </div>
    </div>
</div>