<form class="change-password-form panel panel-default panel-centered top30 black"
      ng-class="{loading:loading}"
      ng-submit="changePassword(form)"
      ng-hide="password_changed"
      name="form"
      novalidate>
    <div class="panel-body">
        <h2>Change your password</h2>
        <fieldset ng-disabled="loading">
            <div class="form-group">
                <label for="inputEmail">Enter your new password</label>
                <div class="input-group">
                    <input required
                         type="password"
                         class="form-control"
                         name="new_password"
                         ng-model="new_password"
                         ng-change="submitted=false"
                         ng-minlength="6"
                         id="inputNewPassword">
                    <span class="input-group-addon">
                        <i class="fa fa-check-square-o text-success" ng-show="form.new_password.$valid"></i>
                        <i class="fa fa-square-o" ng-hide="form.new_password.$valid"></i>
                    </span>
                </div>
                <p class="text-muted top05">
                  At least 6 characters.
                </p>
                <div class="alert alert-danger" ng-show="submitted && form.new_password.$error.required">
                  Please fill this field to change your password
                </div>
          </div>

          <div class="form-group">
                <label for="inputEmail">Repeat your new password</label>
                <div class="input-group">
                    <input required
                         type="password"
                         class="form-control"
                         name="new_password2"
                         ng-model="new_password2"
                         ng-change="submitted=false"
                         match with="new_password"
                         id="inputEmail"
                         placeholder="Your account's email">
                    <span class="input-group-addon">
                        <i class="fa fa-check-square-o text-success" ng-show="form.new_password2.$valid"></i>
                        <i class="fa fa-square-o" ng-hide="form.new_password2.$valid"></i>
                    </span>
                </div>
                <div class="alert alert-danger top10" ng-show="submitted && form.new_password2.$error.required">
                  Please fill this field to change your password
                </div>
                <div class="alert alert-danger top10" ng-show="submitted && form.new_password2.$error.match">
                  The passwords you entered don't match
                </div>
          </div>

          <div class="alert alert-danger" ng-if="error">
            [[error]]
          </div>
        </fieldset>
    </div>
    <div ng-show="!mailSent || error" class="tr panel-footer">
        <button type="submit" class="btn btn-primary">Change my password</button>
    </div>
</form>
<div class="panel panel-centered top30 panel-success" ng-show="password_changed">
  <div class="panel-heading">
    <h2>Well done!</h2>
    <p>You password has successfuly been changed.</p>
  </div>
</div>
