<div class="container account" style="padding-top:20px;">
    <div class="account__user-info">
        <img ng-src="[[ user.gravatar ]]" />
        <div class="account__user-info__wrapper">
            <h2>[[ user.name ]]</h2>
            <p class='lead text-muted'>[[ user.username ]]</p>
            <dl class="dl-horizontal">
                <dt ng-repeat-start="field in ['location', 'organization', 'url']" class='text-muted'>[[ field | titlecase ]]</dt>
                <dd ng-repeat-end>
                    <span ng-show="shoulShowValueFor(field)">
                        <span ng-bind-html="user[field] | linky:'_blank'"></span>
                        <a ng-click="openFormFor(field)" ng-if="isMe"><i class="fa fa-pencil"></i></a>
                    </span>
                    <span ng-show="shouldShowFormFor(field)">
                        <form ng-submit="validateFormFor(field)">
                            <div class="input-group">
                                <input ng-model="user[field]" class="form-control" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="fa fa-check-circle"></i></button>
                                </span>
                        </form>
                    </span>
                </dd>
            </dl>
            <div class='clearfix'>&nbsp;</div>
        </div>
    </div>
    <div ng-if="shouldShowTopics" class="account__topics">
        <h3>Investigations</h3>
        <div>
            <ul class="list-unstyled">
                <li ng-repeat="topic in topics" class="account__topics__topic">
                    <img ng-if="topic.thumbnail" ng-src="[[ topic.thumbnail.small ]]" />
                    <span ng-if="!topic.thumbnail" class="account__topics__topic__no-img"></span>
                    <a ng-href="[[topic.link]]" class="lead text-muted">[[topic.title]]</a>
                </li>
            </ul>
            <ul class="dashboard__paginator pagination pull-right">
                <li ng-if="hasPrevious()">
                    <a ng-click="previousPage()">
                        <i class="fa fa-caret-left"></i>
                        &nbsp;Previous
                    </a>
                </li>
                <li ng-if="hasNext()">
                    <a ng-click="nextPage()">
                        Next&nbsp;
                        <i class="fa fa-caret-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>