<form class="login-form panel panel-default top30 black" ng-class="{loading:loading}" ng-hide="signupSucceed" name="form" ng-submit="signup()">	
  <div class="panel-body">
 	  <h2>Request an account</h2>
    <fieldset ng-disabled="loading">
      <div class="form-group">
        <label for="inputUsername">Username</label>
        <div class="input-group">
          <input required 
                 unique="username"
                 type="text" 
                 name="username" 
                 ng-model="username"
                 class="form-control" 
                 id="inputUsername" 
                 placeholder="Choose an username" />  
          <span class="input-group-addon">
            <i class="fa fa-check-square-o text-success" ng-show="form.username.$valid"></i>
            <i class="fa fa-square-o"             ng-hide="form.username.$valid"></i>
          </span>   
        </div> 
        <p class="text-danger top05" ng-show="form.username.$error.unique">
          This username is already taken.
        </p>
      </div>

      <div class="form-group">
        <label for="inputEmail">Email</label>
        <div class="input-group">
          <input required 
                 unique="email"
                 type="email" 
                 name="email" 
                 ng-model="email" 
                 class="form-control"
                 id="inputEmail" 
                 placeholder="Enter your email address">
          <span class="input-group-addon">
            <i class="fa fa-check-square-o text-success" ng-show="form.email.$valid"></i>
            <i class="fa fa-square-o"             ng-hide="form.email.$valid"></i>
          </span>    
        </div>       
        <p class="text-danger top05" ng-show="form.email.$error.unique">
          This email is already taken.
        </p>
      </div>

      <div class="form-group">
        <label for="inputPassword">Password</label>
        <div class="input-group">
          <input required 
                 type="password"
                 name="password"
                 ng-model="password"
                 class="form-control"
                 ng-minlength="6"
                 id="inputPassword"
                 placeholder="Create a password">
          <span class="input-group-addon">
            <i class="fa fa-check-square-o text-success" ng-show="form.password.$valid"></i>
            <i class="fa fa-square-o"             ng-hide="form.password.$valid"></i>
          </span>  
        </div>         
        <p class="text-muted top05">
          At least 6 characters. 
        </p>
      </div>

      <div class="form-group">
        <label for="inputPasswordCheck">Password check</label>        
        <div class="input-group">
          <input required 
                 type="password"
                 name="password2"
                 ng-model="password2"
                 pw-match with="password"
                 class="form-control"
                 id="inputPasswordCheck"
                 placeholder="Enter this password again">
          <span class="input-group-addon">
            <i class="fa fa-check-square-o text-success" ng-show="form.password2.$valid"></i>
            <i class="fa fa-square-o"             ng-hide="form.password2.$valid"></i>
          </span>         
        </div>  
        <p class="text-danger top05" ng-show="form.password2.$error.pwmatch">
          Passwords don't match.
        </p>
      </div>

      <div class="alert alert-danger" ng-if="error">
        [[error]]
      </div>
    </fieldset>
  </div>
	<div class="tr panel-footer">
  	<button type="submit" class="btn btn-primary" ng-disabled="!form.$valid">Sign up</button>
  </div>
</form>

<div class="login-form panel top30 panel-success" ng-show="signupSucceed">
  <div class="panel-heading">
    <h2>Well done!</h2>
    <p>Your account is now awaiting for approval.</p>
  </div>
</div>