{% extends "base.dj.html" %}
{% load staticfiles %}

{% block content %}

	<div class="margin20">

		<form name="uploadForm" ng-submit="submit()">

			<h2>Upload objects and relationship</h2>
			<p>Notes:
				<ul>
					<li>Header for objects should respect this syntax : &lt;obj_name&gt;_id; &lt;field_name1&gt;; &lt;field_name2&gt; etc...</li>
					<li>Header for relationship should respect this syntax : &lt;obj1_name&gt;_id;&lt;relation_type&gt;; &lt;obj2_name&gt;_id</li>
				</ul>
			</p>

			<div ng-repeat="field_name in file_fields" class="bottom20">
				<input type="file" multiple ng-file-select="onFileSelect($files, field_name)" class="btn btn-default">
			</div>

			<button class="btn btn-default" ng-click="addFileField()">add a file</button>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

	</div>
{% endblock %}