{% load detective_extras %}
{% load widget_tweaks %}

<div id="contribute">
	<div class="contribute-start contribute-bg contribute-shadow" ng-if="showKickStart || !individuals.length">
		<div class="container">			
			<h2>Add a new individual to the database</h2>
			<div class="row top30">
				<div class="col-3">
					<label class="btn btn-block btn-default btn-large">
						<input type="radio" value="project" ng-model="new.type" class="hidden" />
						Project
					</label>
				</div>
				<div class="col-9 desc">
					A Project is an endeavor that is carried out by one or several Organizations. Think of "Soccket", which is a project by Uncharted Play, for instance.
				</div>
			</div>
			<form class="row kick-start form-inline" ng-if="new.type == 'project'" ng-submit="addIndividual()">
				<label class="col-3 control-label top10">
					Name of the project
				</label>
				<div class="col-9 input-append">
					<input type="text" class="form-control" ng-model="new.fields.name" />
					<button class="btn btn-contribute">Create</button>
				</div>
			</form>
			<div class="row top30">
				<div class="col-3">
					<label class="btn btn-block btn-default btn-large">
						<input type="radio" value="product" ng-model="new.type" class="hidden" />
						Product
					</label>
				</div>
				<div class="col-9 desc">
					A Product is an outcome of a Project. A Project can have one (in the case of a building or power plant) or several Products. The Soccket Ball, for instance, is a product of the Soccket project.
				</div>
			</div>
			<form class="row kick-start form-inline" ng-if="new.type == 'product'" ng-submit="addIndividual()">
				<label class="col-3 control-label top10">
					Name of the product
				</label>
				<div class="col-9 input-append">
					<input type="text" class="form-control" ng-model="new.fields.name" />
					<button class="btn btn-contribute">Create</button>
				</div>
			</form>
			<div class="row top30">
				<div class="col-3">
					<label class="btn btn-block btn-default btn-large">
						<input type="radio" value="organization" ng-model="new.type" class="hidden" />
						Organization
					</label>
				</div>
				<div class="col-9 desc">
					An Organization can be an NGO, a Company, an International Organization or a Venture Fund. Uncharted Play is an Organization.
				</div>
			</div>
			<form class="row kick-start form-inline" ng-if="new.type == 'organization'" ng-submit="addIndividual()">
				<label class="col-3 control-label top10">
					Name of the organization
				</label>
				<div class="col-9 input-append input-append">
					<input type="text" class="form-control" ng-model="new.fields.name" />
					<button class="btn btn-contribute">Create</button>
				</div>
			</form>
			<div class="row top30">
				<div class="col-3">
					<label class="btn btn-block btn-default btn-large">
						<input type="radio" value="person" ng-model="new.type" class="hidden" />
						Person
					</label>
				</div>
				<div class="col-9 desc">
					A Person can be any physical person.
				</div>
			</div>
			<form class="row kick-start form-inline" ng-if="new.type == 'person'" ng-submit="addIndividual()">
				<label class="col-3 control-label top10">
					Name of the person
				</label>
				<div class="col-9 input-append">
					<input type="text" class="form-control" ng-model="new.fields.name" />
					<button class="btn btn-contribute">Create</button>
				</div>
			</form>
		</div>
	</div>

	<div class="container tr top20" ng-hide="showKickStart || !individuals.length">
		<a class="btn btn-default btn-large" ng-click="showKickStart = true">
			<i class="icon-plus right10"></i>
			Add a new individual
		</a>		
	</div>

	<div class="individual-forms container" ng-if="individuals.length">
		<div class="individual contribute-bg contribute-shadow"		 
		     scroll-to="600"    
			 ng-repeat="individual in individuals" 
			 ng-class="individual.reduce == true ? 'reduce' : ''">
			<div class="head">	
				<div class="btns">
					<a ng-click="save(individual)" class="btn btn-fade">
						<strong>Save</strong>
					</a>					
					<a ng-click="removeIndividual($index)" class="btn btn-fade right20">
						<i class="icon-trash"></i>						
					</a>
					<a ng-click="toggleReduce(individual)" class="btn btn-fade" ng-class="individual.reduce == true ? 'active' : ''">
						<i class="icon-collapse-alt right10"></i>
						Collapse
					</a>
				</div>		
				<h3>[[individual.fields.name]] # [[individual.fields.id]]</h3>	
				<h4>Adding a new [[individual.type]]</h4>
			</div>
			<div class="form-horizontal">
				{% for form in forms %}
					<div ng-if="individual.type.toLowerCase() == '{{form.Meta.model|klass|lower}}'">
						{% for field in form %}

							<div class="row field top20 form-group">
								<label class="col-3 tr form-label top05" for="id_{{ field.html_name }}">{{ field.label_tag }}</label>
								<div class="col-3">
						    		{% if field.field.widget|klass == "SelectMultiple" %}

						    			<div ng-if="!individual.fields.{{ field.html_name }}.length"
						    				 ng-init="individual.fields.{{ field.html_name }} = [{name: ''}]"></div>
						    				 
										<div ng-repeat="f in individual.fields.{{ field.html_name }}" class="input-group multiple">
											<input 
												type="text" 
												typeahead
												tt-individual="{{ field|queryset_klass }}"
												tt-model="individual.fields.{{ field.html_name }}[$index]"
												class="form-control" />
											<span class="input-group-addon" ng-click="removeOne(individual, '{{ field.html_name }}', $index)">
												<i class="gray-darker icon-remove"></i>	
											</span>
										</div>
										

										<a ng-click="addOne(individual, '{{ field.html_name }}', '{{field|queryset_klass}}')">
											<i class="icon-plus"></i>
											Add another one
										</a>
									
									{% else %}
										{{ field|add_class:"form-control" }}
									{% endif %}
								</div>
								<span class="col-6">
									<p>{{ field.help_text }}</p>
								</span>
							</div>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>


