<div id="contribute">
	<div class="contribute-start contribute-bg contribute-shadow" ng-if="showKickStart || !individuals.length">
		<div class="container">			
			<h2>Add a new individual to the database</h2>

			<div ng-repeat="resource in scopeResources()">
				<div class="row top30">
					<div class="col-3">
						<label class="btn btn-block btn-default btn-large">
							<input type="radio" value="[[resource.name]]" ng-model="new.type" class="hidden" />
							[[resource.verbose_name]]
						</label>
					</div>
					<div class="col-9 desc">
						[[resource.description]]
					</div>
				</div>
				<form class="row kick-start form-inline" ng-if="new.type == resource.name" ng-submit="addIndividual()">
					<label class="col-3 control-label top10">
						Name of the [[resource.verbose_name]]
					</label>
					<div class="col-9 input-append input-append">
						<input type="text" class="form-control" ng-model="new.fields.name" />
						<button class="btn btn-contribute">Create</button>
					</div>
				</form>
			</div>

		</div>
	</div>

	<div class="container tr top20" ng-hide="showKickStart || !individuals.length">
		<a class="btn btn-default btn-large" ng-click="showKickStart = true">
			<i class="icon-plus right10"></i>
			Add a new individual
		</a>		
	</div>

	<div class="individual-forms container" ng-if="individuals.length">
		<div class="individual contribute-bg contribute-shadow"		 		     
			 ng-repeat="individual in individuals" 
			 ng-class="{
			 	reduce : individual.reduce,
			 	loading: individual.loading
			}">
			
			<a scroll-to="600" ng-if="scrollIdx == $index"></a>

			<div class="head">	
				<div class="btns">
					<a ng-click="save(individual)" class="btn btn-default">
						<strong>Save</strong>
					</a>					
					<a ng-click="removeIndividual($index)" class="btn btn-default right20">
						<i class="icon-trash"></i>						
					</a>
					<a ng-click="toggleReduce(individual)" class="btn btn-default" ng-class="individual.reduce == true ? 'active' : ''">
						<i class="icon-collapse-alt right10"></i>
						Collapse
					</a>
				</div>		
				<h3>
					<strong>
						[[individualPreview(individual.fields)]]
					</strong>				
					<span ng-if="individual.related_to">
						related to 
						<a ng-click="scrollTo(individual.related_to)" href="">
							[[individual.related_to.fields.name]]
						</a>
					</span>
				</h3>	
				<h4>Adding a new [[individual.type]]</h4>
			</div>
			<div class="alert alert-danger errors" ng-if="individual.error_message">
				[[individual.error_message]]
				<div ng-if="individual.error_traceback" class="pull-right">
					<a class="alert-link btn btn-mini btn-default" ng-click="individual.show_traceback = !individual.show_traceback" href="">
						Show traceback
					</a>
				</div>
				<div ng-if="individual.show_traceback" ng-bind-html-unsafe="individual.error_traceback|nl2br" class="top10"></div>
			</div>
			<form class="form-horizontal">

				<div class="row field top20 form-group" 
				     ng-show="isAllowedType(field.type)"
					 ng-repeat="field in resources[individual.type].fields track by $index">

					<label class="col-3 tr form-label top05" for="id_[[field.name]]">[[field.verbose_name]]</label>

					<div class="col-4" ng-if="field.type == 'Relationship' && ! field.is_searchable">

						<div ng-repeat="f in individual.fields[field.name]" class="bottom05 input-group">							
							<span class="form-control disabled">
								[[individualPreview(f) || "no preview available"]]								
								<span ng-hide="f.id">
									(not saved yet)
								</span>
							</span>
							<span class="input-group-addon" ng-click="removeRelated(individual, field.name, $index)">
								<i class="gray-darker icon-remove"></i>	
							</span>								
							<span class="input-group-addon" ng-click="editRelated(individual, field.name, $index, field.related_model)" ng-if="f.id">
								<i class="gray-darker icon-edit"></i>	
							</span>								
						</div>

    					<a class="btn btn-default" 
    					   ng-click="setNewIndividual({}, field.related_model, individual, field.name)">
    						Create a new [[field.verbose_name]]
    					</a>

					</div>

					<div class="col-4" ng-if="field.type == 'Relationship' && field.is_searchable">
		    				 
						<div ng-repeat="f in individual.fields[field.name] track by $index">
							<div class="input-group multiple">
								<input 
									type="text" 
									tt-typeahead
									tt-individual="field.related_model"
									tt-model="individual.fields[field.name][$index]"				
									ng-disabled="individual.loading" />
								<span class="input-group-addon" ng-click="removeRelated(individual, field.name, $index)">
									<i class="gray-darker icon-remove"></i>	
								</span>								
								<span class="input-group-addon" ng-click="editRelated(individual, field.name, $index, field.related_model)" ng-if="f.id">
									<i class="gray-darker icon-edit"></i>	
								</span>								
							</div>

			    			<div class="ask-for-new" ng-show="askForNew(f)">
			    				<div class="pan">
			    					<h4>Heads Up!</h4>
			    					<p>The entry you just typed in is new the the base.</p>	    					
			    					<div class="tr">
				    					<a class="btn btn-default" 
				    					   ng-click="setNewIndividual(f, field.related_model, individual, field.name)">
				    						Create <strong>[[f.name]]</strong>
				    					</a>
				    				</div>
			    				</div>
			    			</div>
						</div>						

						<div ng-if="isAllowedOneMore(individual.fields[field.name])" class="top05">
							<a ng-click="addRelated(individual, field.name, field.related_model)">
								<i class="icon-plus"></i>
								Add 
								<span ng-if="individual.fields[field.name].length">another</span>
								one
							</a>
						</div>

					</div>


					<div class="col-4" ng-if="field.type == 'URLField'">

						<input type="url" 
							   placeholder="http://"
							   id="id_[[field.name]]" 
							   ng-model="individual.fields[field.name]" 
							   class="form-control" />
					</div>

					<div class="col-4" ng-if="field.type == 'DateTimeField'">										
						<div class="input-group">
							<span class="input-group-addon">
								<i class="gray-darker icon-calendar"></i>	
							</span>
							<input type="text" 
								   id="id_[[field.name]]" 
								   ng-model="individual.fields[field.name]" 
								   ng-disabled="individual.loading"
								   datepicker-popup="dd-MMMM-yyyy"
								   show-weeks="false"
								   class="form-control" />
						</div>
					</div>

					<div class="col-4" ng-if="field.type == 'CharField'">
						<input type="text" id="id_[[field.name]]" ng-model="individual.fields[field.name]" class="form-control" />
					</div>

					<div class="col-4" ng-if="field.type == 'IntegerField'">
						<input type="number" id="id_[[field.name]]" ng-model="individual.fields[field.name]" class="form-control" />
					</div>

					<span class="col-5">
						<p class="top10">[[field.help_text]]</p>
					</span>

				</div>

			</form>
		</div>
	</div>
</div>


