<div id="explore" class="container">	
	<div ng-repeat="resource in scopeResources()">
		<h2>[[resource.verbose_name]]</h2>
		<div class="individual-list panel"
	         ng-style="{'background': strToColor(resource.name)}"
			 ng-class="{
			 	'loading': !individuals[resource.name].meta
			}">
			<div ng-repeat="individual in individuals[resource.name].objects" class="individual white">
				<div class="pull-right">[[individual._status]]</div>			
				<h4>[[individual|individualPreview:"Unkown"]]</h4>	
			</div>
			<div ng-show="individuals[resource.name].objects.length == 0" class="tc padding20">
				No result
			</div>
		</div>
	</div>
	<div class="tr">
		<a class="btn btn-default" ng-show="hasPreviousPage()" ng-click="previousPage()">Previous</a>
		<a class="btn btn-default" ng-show="hasNextPage()"	   ng-click="nextPage()">Next</a>
	</div>
</div>