<div class="container" id="explore">

	<h2>Welcome to <a href="/[[scope]]">detective.io/[[scope]]</a></h2>
	<p class="lead">Information about innovative energy projects in developing countries.</p>			
	
	<div class="row">

		<div class="col-md-6  bottom20">	
			<form class="form-inline" role="search">	
				<div class="input-group">		
					<input type="search" class="form-control" id="input-search" placeholder="Search..." />		    				
					<div class="input-group-btn">		
			    		<button type="submit" class="btn btn-primary">Go!</button>					    					
			    	</div>
			    </div>
			</form>
		</div>

		<div class="col-md-6 tc">
			<div class="col-xs-4">
				<div class="panel">
					<div class="lead margin05">12</div>
					<div class="panel-footer">
						projects
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="panel">
					<div class="lead margin05">12</div>
					<div class="panel-footer">
						persons
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="panel">
					<div class="lead margin05">12</div>
					<div class="panel-footer">
						organizations
					</div>
				</div>
			</div>
		</div>

	</div>


	<div class="select-a-country">
		<h3>Select a country to know more</h3>
		<div class="panel" country-map></div>
	</div>

</div>
