<div class="container" id="explore">

	<h2>Welcome to <a href="/[[scope]]">detective.io/[[scope]]</a></h2>
	<p class="lead">Information about innovative energy projects in developing countries.</p>			
	
	<div class="row">

		<div class="col-md-6 bottom20">	
			<form class="form-inline" role="search">	
				<div class="input-group">		
					<input  type="search" 
						    placeholder="Search..."
						 	tt-typeahead
							tt-individual="'summary'"
							tt-model="selectedIndividual"
						   	class="form-control" 
						   	id="input-search" />		    				
					<div class="input-group-btn">		
			    		<button type="submit" class="btn btn-primary">Go!</button>					    					
			    	</div>
			    </div>
			</form>
		</div>

		<div class="col-md-6 tc">
			<div class="col-xs-4">
				<div class="panel">
					<div class="lead margin05">[[getTypeCount("Project", "EnergyProject")]]</div>
					<div class="panel-footer">
						projects
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="panel">
					<div class="lead margin05">[[getTypeCount("Person")]]</div>
					<div class="panel-footer">
						persons
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="panel">
					<div class="lead margin05">[[getTypeCount("Organization", "EnergyOrganization")]]</div>
					<div class="panel-footer">
						organizations
					</div>
				</div>
			</div>
		</div>

	</div>


	<div class="select-a-country">
		<h3>Select a country to know more</h3>
		<div class="panel">
			<div country-map model="selectedCountry" values="countries" />
		</div>
	</div>

	<h3>About the project</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
	<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
	<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.</p>

</div>
