{% load staticfiles %}

<footer>
    <div class="links">
        <div class="container">
            <ul class="pull-right list-inline logos">
                <li>
                    <a href="http://journalismgrants.org" target="_blank">
                        <img src="{% static 'detective/img/jg.png' %}" alt="Journalism Grant" />
                    </a>
                </li>
                <li class="last">
                    <a href="http://jplusplus.org" target="_blank">
                        <img src="{% static 'detective/img/jpp.png' %}" alt="Journalism++" />
                    </a>
                </li>
            </ul>
            <ul class="list-inline">
                <li><a ng-href="/page/about">About</a></li>
                <li><a href="mailto:contact@detective.io"> Contact</a></li>
                <li class=""><a ng-href="/contact-us">Get a quote</a></li>
                <li class="last"><a href="https://github.com/jplusplus/detective.io" target="_blank">Github</a></li>
                <li class="last hidden"><a>Facebook</a></li>
            </ul>
        </div>
    </div>
    <div class="legals">
        <div class="container text-muted">
            Software under GNU GPLv3
        </div>
    </div>
</footer>