{% load staticfiles %}

<footer>
    <div class="credits" ng-show="Page.isInInvestigation()">
    This investigation has been created with <a ui-sref="home">Detective.io</a>
    </div>
    <div class="links">
        <div class="container">
            <ul class="pull-right list-inline logos hidden-sm hidden-xs">
                <li>
                    <a href="http://detective.io" target="_blank">
                        <img src="{% static 'detective/img/favicon.ico' %}" alt="Detective.io" />
                        <span class="logos__label">
                            Built with<br />
                            <strong>Detective.io</strong>
                        </span>
                    </a>
                </li>
                <li class="last">
                    <a href="http://jplusplus.org" target="_blank">
                        <img src="{% static 'detective/img/jpp.svg' %}" alt="Journalism++" />
                    </a>
                </li>
            </ul>
            <ul class="list-inline">
                <li><a ng-href="/page/about">About</a></li>
                <li><a ui-sref="page({slug:'terms'})" rel="nofollow">Terms</a></li>
                <li><a href="mailto:contact@detective.io">Contact</a></li>
                <li class=""><a ng-href="/plans">Plans</a></li>
                <li class="last"><a href="https://github.com/jplusplus/detective.io" target="_blank">Github</a></li>
            </ul>
        </div>
    </div>
    <div class="legals">
        <div class="container text-muted">
            Software under GNU LGPLv3
        </div>
    </div>
</footer>
