<header ng-class="{ 'no-breadcrumb': location.path() == '/' }">

	<div ng-controller="UserCtrl">
		<div ng-show="user.is_logged" class="pull-right top10 right20">
			Welcome, [[user.username]]!
			<a ng-click="logout()" href="#">Sign out</a>
		</div>
	</div>

	<h1>
		<a href="#/">
			Detective<i>.io</i>
		</a>
	</h1>


	<nav class="top10 clearfix hidden">
		<ul class="list-inline">
			<li>
				<a href="" class="contribute-color">
					Contribute
				</a>
			</li>
			<li>
				<a href="" class="explore-color">
					Explore
				</a>
			</li>
		</ul>
	</nav>

</header>

<ul class="breadcrumb" ng-controller="BreadcrumbCtrl" ng-hide="isHome()">
	<li>
		<a class='fa fa-home' ng-href="/">
			<span class="sr-only">Home</span>
		</a>
	</li>
	<li ng-repeat="p in breadcrumbs" ng-class="{active: $last}" ng-show="p.path != '/'">
		<a ng-if="p.path && !$last" ng-href="[[p.path]]">
			[[p.name]]
		</a>
		<span ng-if="!p.path || $last">
			[[Page.title()]]
		</span>
	</li>
</ul>