<header ng-controller="HeaderCtrl" class="header">

    <a class="header__toggle-aside" ng-click="Page.showAside = !Page.showAside">
        <i class="fa fa-bars"></i>
    </a>

	<div ng-controller="UserCtrl" class="header__user">
		<div ng-show="user.is_logged" class="header__user__signed-in">
			<a href="/[[user.username]]" class="header__user__signed-in__profil" title="Your profil">
                <i class="fa fa-user"></i>
                <span class="sr-only">Your profil</span>
            </a>
			<a ng-click="logout()" class="header__user__signed-in__sign-out" title="Sign out">
                <i class="fa fa-sign-out"></i>
                <span class="sr-only">Sign out</span>
            </a>
		</div>
        <div ng-hide="user.is_logged" class="header__user__sign-in">
            <a ng-href="/login?next=[[nextLogin]]" title="Login">
                <i class="fa fa-sign-in"></i>
                <span class="sr-only">Login</span>
            </a>
        </div>
	</div>

    <form class="topic-search hidden-xs" role="search" ng-controller="SearchFormCtrl as search">

        <div class="btn-group">
            <a class="btn btn-default" href="[[search.topic.link]]">
                [[search.topic.title | characters:25]]
            </a>
            <span class="topic-search__input" ng-repeat="t in search.topics">
                <span ng-if="search.isTopic(t.slug)">
                    <input type="search"
                            placeholder="[[t.search_placeholder]]"
                            tt-typeahead
                            tt-model="search.selectedIndividual"
                            remote="/api/[[t.slug]]/v1/summary/human/?q=%QUERY"
                            prefetch="/api/[[t.slug]]/v1/summary/mine/"
                            value-key="label"
                            value="search.human_query"
                            limit="10"
                            class="form-control"
                            id="input-search" />
                    <span ng-click="search.showResults()" class="fa fa-search topic-search__input__submit-btn"></span>
                </span>
            </span>
        </div>

    </form>

</header>

<aside class="main-aside" ng-controller="MainAsideCtrl">

    <h1 class="main-aside__title">
        <a href="/">
            Detective<i>.io</i>
        </a>
    </h1>

    <div class="main-aside__current-topic" ng-if="topicsFactory.topic">
        <h3>
            <a href="[[topicsFactory.topic.link]]" class="main-aside__current-topic__title">
                <i class="fa fa-home"></i>
                [[topicsFactory.topic.title]]
            </a>
            <div class="main-aside__current-topic__author">
                by
                <a href="/[[topicsFactory.topic.author.username]]">
                    [[topicsFactory.topic.author.username]]
                </a>
            </div>
        </h3>
        <ul class="main-aside__current-topic__taxonomy list-unstyled">
            <li ng-repeat="model in topicsFactory.topic.models | filter:{is_searchable: true}">
                <a href="[[topicsFactory.topic.link]]/[[model.name|lowercase]]">
                    <div class="small" color-tag ref="model.name|lowercase"></div>
                    [[model.verbose_name|titlecase]]
                </a>
            </li>
        </ul>
    </div>


</aside>