{% load staticfiles %}

<div class="home__tour" home-tour tracker="tracker">

    <ul class="list-unstyled home__tour__tracker">
        <li ng-repeat="screen in ['tour', 'quote 0', 'quote 1', 'quote 2', 'get ready', 'pricing']">
            <a ng-click="scrollTo($index)" class="home__tour__tracker__screen" ng-class="$index == tracker ? 'home__tour__tracker__screen--active' : ''">
                <span class="sr-only">Go to[[screen]]</span>
            </a>
        </li>
    </ul>

    <div class="home__tour__front home__tour__screen" data-level="0" screen-height="600">
        <div class="container">
            <div class="middle">
                <h1>
                    Detective<i>.io</i>
                </h1>
                <h3 class="top0">Investigations made easy.</h3>
                <div ng-hide="user.is_logged">
                    <a ui-sref="login" class="btn btn-lg btn-stroke">
                        Login
                    </a>
                    <a ui-sref="signup" class="btn btn-default btn-lg">
                        Sign up
                    </a>
                </div>
            </div>
            <a class="go-down" ng-click="scrollTo(1)">
                <span class="text">Discover how</span><br />
                <i class="fa fa-arrow-down"></i>
            </a>
        </div>
    </div>


    <div class="home__tour__features home__tour__screen bg-light">
        <div class="container">
            <p>
                Detective.io lets you organize your information on a topic easily. Because everything is structured, you can find a source or explore connections in your data in seconds.
            </p>
            <p>
                Whether small or big, it turns your data into knowledge.
            </p>
        </div>
    </div>

    <div class="home__tour__quotes home__tour__screen">
        <div class="container">
            <div class="home__tour__quotes__iphone">
                <img src="{% static 'detective/img/tour-iphone.png' %}" class="home__tour__quotes__iphone" />
                <div class="home__tour__quotes__iphone__wrapper">
                    <div class="home__tour__quotes__iphone__screens">
                        <img src="{% static 'detective/img/tour/quote-0.png' %}" class="home__tour__quotes__iphone__screens__single" />
                        <img src="{% static 'detective/img/tour/quote-1.png' %}" class="home__tour__quotes__iphone__screens__single" />
                        <img src="{% static 'detective/img/tour/quote-2.png' %}" class="home__tour__quotes__iphone__screens__single" />
                    </div>
                </div>
            </div>
            <div class="home__tour__quotes__single home__tour__quotes__single--n0" data-level="1">
                <h3 class="home__tour__quotes__single__title">
                    "Like putting a thousand-piece puzzle together"
                </h3>
                <p class="home__tour__quotes____singe__desc lead">
                    Verena Porsch is consulting for NGOs. She used detective.io to expose agreements between textile companies and subcontracting factories, and linked it back to accidents. Thousands of brands and companies came together in her investigation, The Origin of Clothes.
                </p>
            </div>

            <div class="home__tour__quotes__single home__tour__quotes__single--n1" data-level="2">
                <h3 class="home__tour__quotes__single__title">
                    "All my knowledge in one place"
                </h3>
                <p class="home__tour__quotes____singe__desc lead">
                    Adeline Agut is a consultant for water issues. She used Detective.io to organize her data on innovative water projects in developing countries. She can now reach into her own knowledge base at any time, on any device.
                </p>
            </div>

            <div class="home__tour__quotes__single home__tour__quotes__single--n2" data-level="3">
                <h3 class="home__tour__quotes__single__title">
                    "Collaboration made easy"
                </h3>
                <p class="home__tour__quotes____singe__desc lead">
                    Alexandre Léchenet is an investigative journalist. He used Detective.io to store data on a transnational investigation. Because it's easy to use, he could invite colleagues from all over Europe to collaborate.
                </p>
            </div>
        </div>
    </div>


    <div class="home__tour__get-ready home__tour__screen" data-level="4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Detective.io</h2>
                    <p class="lead">
                        Organize your investigation online, securely.
                    </p>
                    <p class="lead">
                        Add, structure, and mine information anywhere, from any device. Make your knowledge is accessible to your colleagues, readers or clients in seconds.
                    </p>
                    <p class="lead">
                        Detective.io<br />
                        Investigate like it's 2014.
                    </p>
                    <div ng-hide="user.is_logged" class="top40">
                        <a ui-sref="login" class="btn btn-lg btn-default">
                            Login
                        </a>
                        <a ui-sref="signup" class="btn btn-primary btn-lg">
                            Sign up
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="{% static 'detective/img/tour-ipad.png' %}" class="home__tour__get-ready__ipad" />
                </div>
            </div>
        </div>
    </div>

    <div class="home__tour__pricing  home__tour__screen pull-footer" data-level="5">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 home__tour__pricing__plan">
                    <h4 class="home__tour__pricing__plan__name">free</h4>
                    <div class="home__tour__pricing__plan__price">
                        €<b class="home__tour__pricing__plan__price__figure">0</b>/ year (+tax)
                    </div>
                    <div class="home__tour__pricing__plan__included">
                        <b>3</b> investigations
                    </div>
                    <div class="home__tour__pricing__plan__included">
                        <b>100</b> entities per investigation
                    </div>
                    <div class="home__tour__pricing__plan__included">
                        <b>3</b> generic data schemes
                    </div>
                    <div class="home__tour__pricing__plan__included">
                        <b>Public</b> investigations
                    </div>
                    <div class="home__tour__pricing__plan__included">
                        No custom data schemes
                    </div>
                    <div class="home__tour__pricing__plan__subscribe"></div>
                </div>

                <div class="col-sm-3 home__tour__pricing__plan home__tour__pricing__plan">
                    <h4 class="home__tour__pricing__plan__name">Jane</h4>
                    <div class="home__tour__pricing__plan__price">
                        €<b class="home__tour__pricing__plan__price__figure">199</b>/ year (+tax)
                    </div>
                    <div class="home__tour__pricing__plan__included">
                        <b>5</b> investigations
                    </div>
                    <div class="home__tour__pricing__plan__included">
                        <b>500</b> entities per investigation
                    </div>
                    <div class="home__tour__pricing__plan__included">
                        <b>All</b> generic data schemes
                    </div>
                    <div class="home__tour__pricing__plan__included">
                        <b>Public</b> investigations
                    </div>
                    <div class="home__tour__pricing__plan__included">
                        No custom data schemes
                    </div>
                    <div class="home__tour__pricing__plan__subscribe">
                        <a class="btn btn-lg btn-stroke">
                            Subscribe
                        </a>
                    </div>
                </div>


                <div class="col-sm-3 home__tour__pricing__plan home__tour__pricing__plan--highlight">
                    <h4 class="home__tour__pricing__plan__name">Hank</h4>
                    <div class="home__tour__pricing__plan__price">
                        €<b class="home__tour__pricing__plan__price__figure">799</b>/ year (+tax)
                    </div>
                    <div class="home__tour__pricing__plan__included">
                        <b>Unlimited</b> investigations
                    </div>
                    <div class="home__tour__pricing__plan__included">
                        <b>1000</b> entities per investigation
                    </div>
                    <div class="home__tour__pricing__plan__included">
                        <b>All</b> generic data schemes
                    </div>
                    <div class="home__tour__pricing__plan__included">
                        <b>Public and private</b> investigations
                    </div>
                    <div class="home__tour__pricing__plan__included">
                        <b>1</b> custom data schemes
                    </div>
                    <div class="home__tour__pricing__plan__subscribe">
                        <a class="btn btn-lg btn-default">
                            Subscribe
                        </a>
                    </div>
                </div>


                <div class="col-sm-3 home__tour__pricing__plan">
                    <h4 class="home__tour__pricing__plan__name">Sherlock</h4>
                    <div class="home__tour__pricing__plan__price">
                        €<b class="home__tour__pricing__plan__price__figure">1999</b>/ year (+tax)
                    </div>
                    <div class="home__tour__pricing__plan__included">
                        <b>Unlimited</b> investigations
                    </div>
                    <div class="home__tour__pricing__plan__included">
                        <b>Unlimited</b> entities per investigation
                    </div>
                    <div class="home__tour__pricing__plan__included">
                        <b>All</b> generic data schemes
                    </div>
                    <div class="home__tour__pricing__plan__included">
                        <b>Public and private</b> investigations
                    </div>
                    <div class="home__tour__pricing__plan__included">
                        <b>5</b> custom data schemes
                    </div>
                    <div class="home__tour__pricing__plan__subscribe">
                        <a class="btn btn-lg btn-stroke">
                            Subscribe
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
