<div class="dashboard container">
	<ul class="dashboard__paginator pagination pull-right">
		<li ng-if="hasPrevious()">
			<a ng-click="previousPage()">
				<i class="fa fa-caret-left"></i>
				&nbsp;Previous
			</a>
		</li>
		<li ng-if="hasNext()">
			<a ng-click="nextPage()">
				Next&nbsp;
				<i class="fa fa-caret-right"></i>
			</a>
		</li>
	</ul>
	<h2>Dashboard</h2>
	<br class="clearfix" />
	<ul class="list-unstyled dashboard__topics row">
		<li ng-repeat="topic in topics" class="col-sm-4">
			<div class="dashboard__topics__item">
				<img ng-src="[[topic.thumbnail.medium]]" class="dashboard__topics__item__bg" />
				<h4 class="dashboard__topics__item__title">
					<a ui-sref="user-topic({ username: topic.author.username, topic: topic.slug })">
						[[topic.title]]
					</a>
				</h4>
				<p ng-if="topic.author.id == user.id">
					<i class="fa fa-star"></i>&nbsp;Owned by you
				</p>
				<p ng-if="topic.author.id != user.id">
					by <a ui-sref="user(topic.author)">[[topic.author.username]]</a>
				</p>
				<p class="dashboard__topics__item__btns">
					<a class="btn btn-default btn-sm">
						<i class="fa fa-users"></i>
						Add collaborators
					</a>
				</p>
			</div>
		</li>
	</ul>
</div>