{% load staticfiles %}

<div id="home">
    <div class="container">
        <div class="boxes">
            <h2>Open topics</h2>
        	<div class="box">
                <div class="fg">
            		<h3>
            			<a ng-href="/energy">
                            Innovative energy projects in developing countries
                        </a>
            		</h3>
                    <a ng-href="/energy" class="label label-primary">
                        Discover now
                        <i class="fa fa-arrow-right left05"></i>
                    </a>
                </div>
                <img src="{% static 'detective/img/energy-heading-thumb.jpg' %}" class="bg" />
        	</div>
            <div class="box bg-primary">
                <div class="fg">
                    <h3>
                        <a ng-href="mailto:contact@detective.io">
                            Yours?
                        </a>
                    </h3>
                    <p class="lead">
                        Detective.io gives you a way to structure your investigation.
                    </p>
                    <a ng-href="mailto:contact@detective.io" class="label label-primary">
                        Contact us
                        <i class="fa fa-envelope left05"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light top30 pull-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-9 top30 bottom30">
                    <div class="row">
                        <div class="col-xs-6"></div>
                        <div class="col-xs-6">
                            <h3>Mobile-first</h3>
                            <p class="lead text-muted">Why store your data in a notepad when you can access detective.io on your tablet or mobile? The secure connection and database replication means it's much safer than notes on paper, too.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <h3>Semantic</h3>
                            <p class="lead text-muted">Detective.io relies on purpose-built ontologies for each topic. They can be plugged to other ontologies to unleash the power of linked data.</p>
                        </div>
                        <div class="col-xs-6"></div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6"></div>
                        <div class="col-xs-6">
                            <h3>By journalists, for journalists</h3>
                            <p class="lead text-muted">Journalism++ is a team of news nerds working for news nerds. We actually use the tools that we build.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <h3>Graph search</h3>
                            <p class="lead text-muted">Your own graph search module for each investigation. Make complex queries in a breeze and find hidden patterns in your data.</p>
                        </div>
                        <div class="col-xs-6"></div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6"></div>
                        <div class="col-xs-6">
                            <h3>Open source</h3>
                            <p class="lead text-muted">And best of all, detective.io is all open source. You can install and run it yourself. Grab the code on Github!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom50 text-center top20">
                <a class="btn btn-primary btn-lg" href="mailto:contact@detective.io">Contact us to know more</a>
            </div>
        </div>
    </div>
</div>