<form class="dashboard__add-collaborators" name="addcollaborator">
	<h2><i class="fa fa-users"></i> Add new collaborators</h2>

	<div class="panel panel-default dashboard__add-collaborators__panel">
		<img ng-src="[[topic.thumbnail.small]]" class="dashboard__add-collaborators__panel__bg" />
		<div class="dashboard__add-collaborators__panel__preview">
			<h4 class="dashboard__add-collaborators__panel__preview__title">[[topic.title]]</h4>
			<p ng-if="topic.author.id == user.id"  class="dashboard__add-collaborators__panel__preview__author">
				<i class="fa fa-star"></i>&nbsp;Owned by you
			</p>
			<p ng-if="topic.author.id != user.id" class="dashboard__add-collaborators__panel__preview__author">
				by <a ui-sref="user(topic.author)">[[topic.author.username]]</a>
			</p>
		</div>
		<div class="dashboard__add-collaborators__panel__user-picker">
			<input required ng-model="collaborator" type="text" class="form-control" placeholder="Add new collaborator with their username or email address" />
		</div>
	</div>
	<div class="dashboard__add-collaborators__panel text-right">
		<button class="btn btn-primary" ng-disabled="!addcollaborator.$valid">
			Add collaborator
		</button>
	</div>
</formm>