{% load staticfiles %}

<div id="home">

    <div class="front" screen-height="600">
        <div class="container">
            <div class="middle">
                <h1>
                    Detective<i>.io</i>
                </h1>
                <h3 class="top0">Investigations made easy.</h3>
            </div>
            <a class="go-down" ng-click="scrollToFeatures = true">
                <span class="text">Discover how</span><br />
                <i class="fa fa-arrow-down"></i>
            </a>
        </div>
    </div>


    <div class="features bg-light">
        <div class="container">
            <div class="text-center top40 bottom40">
                <a scroll-to="600" ng-if="scrollToFeatures == true" reset="scrollToFeatures"></a>
                <p class="lead">
                    Simply describe your field of inquiry and <strong>Detective.io builds</strong><br />
                    the input interface as well as a state of the art front-end.
                </p>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="card">
                        <img class="illustration" src="{% static 'detective/img/mobile.png' %}" />
                        <div class="text">
                            <h4>Mobile-first</h4>
                            <p class="text-muted">Why store your data in a notepad when you can access Detective.io on your tablet or mobile? Database replication means it's much safer than notes on paper, too.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="card">
                        <img class="illustration" src="{% static 'detective/img/semantic.png' %}" />
                        <div class="text">
                            <h4>Semantic</h4>
                            <p class="text-muted">Detective.io relies on purpose-built ontologies for each topic. They can be plugged into other ontologies to unleash the power of linked data.</p>
                        </div>
                    </div>
                </div>

                <div class="clearfix visible-sm"></div>

                <div class="col-sm-6 col-md-3">
                    <div class="card">
                        <img class="illustration" src="{% static 'detective/img/journo-tools.png' %}" />
                        <div class="text">
                            <h4>By journalists, for journalists</h4>
                            <p class="text-muted">Journalism++ is a team of news nerds working for news nerds. We build tools - and use them in our daily work.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="card">
                        <img class="illustration" src="{% static 'detective/img/network.png' %}" />
                        <div class="text">
                            <h4>Graph search</h4>
                            <p class="text-muted">Your own graph search module for each investigation. Make complex queries in a breeze and find hidden patterns in your data.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bottom50 text-center top20">
                <a class="btn btn-primary btn-lg get-a-quote" ng-href="/contact-us">
                    Get a quote
                    <i class="left10 fa fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>


    <div class="featured-investigations pull-footer">
        <div class="container">
            <h3 class="container">Featured investigations</h3>
            <div class="boxes">

                <div ng-repeat-start="topic in featured"></div>

                    <div class="col-md-4 col-sm-6">
                        <div class="box">
                            <a class="fg" href="[[topic.link]]"></a>
                            <img ng-src="[[topic.thumbnail.medium]]" class="bg" />
                        </div>
                        <h4>
                            <a href="[[topic.link]]">
                                [[topic.title]]
                            </a><br />
                            <span>
                                by
                                <a href="[[topic.author.username]]">
                                    [[topic.author.username]]
                                </a>
                            </span>
                        </h4>
                    </div>

                    <div class="clearfix visible-md visible-lg" ng-if="$index > 0 && ($index + 1)%3 == 0"></div>
                    <div class="clearfix visible-sm" ng-if="$index > 0 && ($index + 1)%2 == 0"></div>

                <div ng-repeat-end></div>

                <div class="col-sm-4">
                    <div class="box box-placeholder">
                        <a class="fg" href="/contact-us">
                            And yours?
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
