<div class="container" id="individual-list">

	<h2 ng-if="individuals.meta.total_count <= 1">
		<span ng-if="individuals.meta.total_count > limit">
			[[individuals.objects.length]] of
		</span>
		[[individuals.meta.total_count]] [[verbose_name]]
	</h2>
	<h2  ng-if="individuals.meta.total_count > 1">
		<span ng-if="individuals.meta.total_count > limit">
			[[individuals.objects.length]] of
		</span>
		[[individuals.meta.total_count]] [[verbose_name_plural]]
	</h2>

	<ul class="list-unstyled clearfix top20">
		<li ng-repeat="individual in individuals.objects">			
			<div class="panel panel-colored individual" ng-style="{'background-color': strToColor(type)}">
				<h4 class="panel-heading bottom0">
					<a ng-href="[[singleUrl(individual)]]">
						[[individual|individualPreview]]
					</a>
				</h4>
				<div class="panel-body text-right">
					<a ng-href="[[singleUrl(individual)]]">See more</a>
				</div>
			</div>
		</li>
	</ul>

	<div class="tr" ng-if="hasPreviousPage() || hasNextPage()">	
		<ul class="pagination top0">
			<li ng-class="{disabled: !hasPreviousPage()}">
				<a ng-click="previousPage()">&laquo;</a>
			</li>
			<li ng-repeat="p in pages() track by $index" ng-class="{active: $index+1 == page}">
				<a ng-click="goToPage($index+1)">
					[[$index+1]] <span class="sr-only">(current)</span>
				</a>
			</li>
			<li ng-class="{disabled: !hasNextPage()}">
				<a ng-click="nextPage()">&raquo;</a>
			</li>
		</ul>	
	</div>

</div>