<div class="container" id="individual-list">

	<form class="form-inline pull-right left20 top20" role="search" ng-if="!query">
		<input  type="search"
			    placeholder="Search..."
			 	tt-typeahead
				tt-topic="topic"
				tt-individual="type"
				tt-model="selectedIndividual"
				limit="10"
			   	class="form-control"
			   	id="input-search" />
    </form>

	<h2 ng-if="individuals.meta.total_count <= 1">
		<span ng-if="individuals.meta.total_count > limit">
			[[individuals.objects.length]] of
		</span>
		[[individuals.meta.total_count]] [[verbose_name]]
	</h2>
	<h2  ng-if="individuals.meta.total_count > 1">
		<span ng-if="individuals.meta.total_count > limit">
			[[individuals.objects.length]] of
		</span>
		[[individuals.meta.total_count]] [[verbose_name_plural]]
	</h2>


	<div ng-class="{'row': query}">

		<form class="well query top10 col-md-3" ng-if="query" ng-submit="search()">
			<select class="form-control bottom10"
					 ng-options="m.name as m.label for (key, m) in syntax.subject.model"
					 ng-model="query.subject.name">
			</select>
			<select class="form-control bottom10"
					 ng-options="m.name as m.label for (key, m) in syntax.predicate.relationship | filter:currentSubject"
					 ng-model="query.predicate.name">
			</select>
			<input class="form-control"
				 	tt-typeahead
					tt-individual="'summary'"
					tt-model="query.object" />
			<div class="text-right top10">
				<input type="submit" value="Search" class="btn btn-primary" />
			</div>
		</form>

		<ul class="list-unstyled top10" ng-class="{'col-md-9': query}">
			<li ng-repeat="individual in individuals.objects">
				<div class="panel individual">
					<div class="thumb">
						<img ng-src="[[individual.image]]" ng-if="individual.image" />
					</div>
					<div class="panel-heading">
						<div class="pull-right top10">
							<a ng-href="[[singleUrl(individual)]]">See more</a>
						</div>
						<h4>
							<a ng-href="[[singleUrl(individual)]]">
								[[individual|individualPreview]]
							</a>
						</h4>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<div class="tr" ng-if="hasPreviousPage() || hasNextPage()">
		<ul class="pagination top0">
			<li ng-class="{disabled: !hasPreviousPage()}">
				<a ng-click="previousPage()">&laquo;</a>
			</li>
			<li ng-repeat="p in pages() track by $index" ng-class="{active: $index+1 == page}">
				<a ng-click="goToPage($index+1)">
					[[$index+1]] <span class="sr-only">(current)</span>
				</a>
			</li>
			<li ng-class="{disabled: !hasNextPage()}">
				<a ng-click="nextPage()">&raquo;</a>
			</li>
		</ul>
	</div>

</div>