<div class="container top20" id="individual-single">
	<div class="row">
		<div class="col-sm-8">	
			<div class="panel">
				
				<div class="panel-heading">
					<div class="pull-left">
						<div color-tag ref="type" />
					</div>
					<h2 class="bottom0 top0 left60">[[individual|individualPreview]]</h2>
					<p class="lead text-muted left60">[[meta.verbose_name]]</p>
				</div>

				<div class="panel-body">
					<table class="table">
						<tbody>
						 	<tr ng-repeat="field in meta.fields|filter:isLiteral" ng-show="get(field.name)">
						 		<td>
						 			<strong>[[field.verbose_name]]</strong><br />
						 			<i class="text-muted">[[field.type]]</i>
						 		</td>
						 		<td>
						 			<span ng-bind="get(field.name)" ng-if="!isString(field.type)"></span>
						 			<span ng-bind-html="get(field.name) | linky" ng-if="isString(field.type)"></span>
						 		</td>
						 	</tr>
						 </tbody>
					</table>

				 	<div ng-repeat="field in meta.fields|filter:isRelationship" ng-show="get(field.name)" id="rels-[[field.name]]">
				 		<h3>[[field.verbose_name]] <small class="text-muted">[[field.related_model]]</small></h3>
				 		<ul class="row list-unstyled">
				 			<li class="col-sm-4" ng-repeat="rel in get(field.name)">
				 				<div ng-style="{background: strToColor(field.related_model)}" class="panel panel-colored bottom0 padding20 text-center">
				 					<a ng-href="[[singleUrl(rel, field.related_model)]]">[[rel|individualPreview]]</a>
				 				</div>
				 			</li>
				 		</ul>
				 	</div>


				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="well padding0 text-right">
				<span class="btn-group pull-left">
					<a class="btn btn-default"
					   ng-if="user.is_staff" 
					   ng-href="/[[scope]]/contribute/?type=[[type]]&amp;id=[[individual.id]]">
						<i class="icon-edit"></i>
						Edit
					</a>
					<a class="btn btn-default"
					   ng-if="user.is_staff"
					   ng-click="deleteNode(type, id)">
						<i class="icon-trash"></i>											
					</a>
				</span>
				<span class="btn-group">
					<a class="btn btn-default" target="_blank" ng-href="/api/[[scope]]/v1/[[type]]/[[individual.id]]/?format=json">
						<i class="icon-download"></i>
						JSON
					</a>
					<a class="btn btn-default" target="_blank" ng-href="/api/[[scope]]/v1/[[type]]/[[individual.id]]/?format=xml">
						<i class="icon-code"></i>
						XML
					</a>
				</span>
			</div>

			<div class="well padding10" ng-show="hasRels()">
				<ul class="nav nav-pills nav-stacked">
				 	<li ng-repeat="field in meta.fields|filter:isRelationship" ng-show="get(field.name)">
				 		<a ng-click="scrollTo('rels-' + field.name)">
				 			[[field.verbose_name]]<br />
				 			<i class="text-muted">[[field.related_model]]</i>
				 		</a>
				 	</li>
				</ul>
			</div>
		</div>
	</div>
</div>