<form class="login-form panel panel-default top30 black" ng-class="{loading:loading}">	
  <div  class="panel-body">
 	  <h2>Log in</h2>

    <fieldset ng-disabled="loading">
      <div class="form-group">
        <label for="inputUsername">Username</label>
        <input type="text" ng-model="username "class="form-control" id="inputUsername" placeholder="Enter your username">
      </div>

      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" ng-model="password "class="form-control" id="inputPassword" placeholder="Enter your password">
      </div>

      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="remember_me"> Remember me
          </label>
        </div>
      </div>

      <div class="alert alert-danger" ng-if="error">[[error]]</div>
    </div>

  	<div class="tr panel-footer">
    	<button type="submit" ng-click="login()" class="btn btn-primary">Log in</button>
    </div>
  </fieldset>
</form>

<p class="login-form lead">
  Need a account? <a ng-href="/signup">Sign up!</a>
</p>