<aside class="main-aside" ng-controller="MainAsideCtrl">
    <h1 class="main-aside__title">
        <a ui-sref="tour" class="main-aside__title__caption">
            Home
        </a>
        <a class="main-aside__title__toggle-aside visible-xs" ng-click="Page.showAside = !Page.showAside">
            <i class="fa fa-bars"></i>
        </a>
    </h1>
    <div scrollable class="main-aside__wrapper">

        <div class="main-aside__current-topic" ng-if="topicsFactory.topic.slug">
            <h3>
                <a href="[[topicsFactory.topic.link]]" class="main-aside__current-topic__title">
                    <i class="fa fa-home"></i>
                    [[topicsFactory.topic.title]]
                </a>
                <div class="main-aside__current-topic__author">
                    by
                    <a ui-sref="user({username: topicsFactory.topic.author.username})">
                        [[topicsFactory.topic.author.username]]
                    </a>
                </div>
            </h3>
            <ul class="main-aside__current-topic__taxonomy list-unstyled">
                <li ng-repeat="model in topicsFactory.topic.models | filter:{is_searchable: true} | orderBy:'index'">
                    <a href="[[topicsFactory.topic.link]]/[[model.name|lowercase]]">
                        <div class="small" color-tag ref="model.name|lowercase"></div>
                        [[model.verbose_name]]
                    </a>
                </li>
            </ul>
        </div>


        <div class="main-aside__featured-investigations">
            <h4>Featured investigations</h4>

            <div class="main-aside__featured-investigations__topic" ng-repeat="topic in featured" title="[[topic.title]]">
                <a ng-href="[[topic.link]]" class="fg"></a>
                <img ng-src="[[topic.thumbnail.medium]]" width="100%" class="bg" />
                <a ng-href="[[topic.link]]"  class="main-aside__featured-investigations__topic__title">
                    [[topic.title|characters:30]]
                </a>
            </div>
        </div>

    </div>
</aside>