<div class="container page">
    <div class="row">
        <div class="col-sm-8">
            <h2 ng-init="Page.title('About')">About Detective.io</h2>
            <h3>What is Detective.io?</h3>
            <p>Detective.io is a platform to store and mine all the data you have on a precise topic. You first design the ontology, then upload it to Detective.io, which creates an input interface and a front-end automatically. The front-end lets you display all the information and search it using the powerful graph search.</p>
            <h3>Why did you build it?</h3>
            <p>We were working on an investigation about innovative energy projects in developing countries thanks to a grant from the European Journalism Center. We couldn't find a database that would let us store all our data, so we built one and made it reusable.</p>
            <h3>Who is behind Detective.io?</h3>
            <p><a target="_blank" href="http://paris.jplusplus.org">Journalism++ SAS</a>. We are a company specialized in data-driven journalism and are fully independent.</p>
            <h3>What about privacy?</h3>
            <p>In the European Union, collecting data about individuals is strictly regulated by <a target="_blank" href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:31995L0046:en:HTML">Directive 95/46/EC</a>. It provides large exemptions for journalists, but you should always make sure that you're operating within the limits set by the laws of your own jurisdiction when using Detective.io.</p>
            
        </div>
    </div>
</div>
