<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6 home__tour__pricing__plan">
            <h3 class="home__tour__pricing__plan__name">free</h3>
            <div class="home__tour__pricing__plan__included">
                <b>3</b> investigations
            </div>
            <div class="home__tour__pricing__plan__included">
                <b>100</b> entities per investigation
            </div>
            <div class="home__tour__pricing__plan__included">
                <b>3</b> generic data schemes
            </div>
            <div class="home__tour__pricing__plan__included">
                <b>Public</b> investigations
            </div>
            <div class="home__tour__pricing__plan__included">
                No custom data schemes
            </div>
            <div class="home__tour__pricing__plan__subscribe"></div>
        </div>

        <div class="col-md-3 col-sm-6 home__tour__pricing__plan home__tour__pricing__plan">
            <h3 class="home__tour__pricing__plan__name">Jane</h3>
            <div class="home__tour__pricing__plan__included">
                <b>5</b> investigations
            </div>
            <div class="home__tour__pricing__plan__included">
                <b>500</b> entities per investigation
            </div>
            <div class="home__tour__pricing__plan__included">
                <b>All</b> generic data schemes
            </div>
            <div class="home__tour__pricing__plan__included">
                <b>Public</b> investigations
            </div>
            <div class="home__tour__pricing__plan__included">
                No custom data schemes
            </div>
            <div class="home__tour__pricing__plan__subscribe">
                <a class="btn btn-lg btn-stroke">
                    Contact us
                </a>
            </div>
        </div>


        <div class="col-md-3 col-sm-6 home__tour__pricing__plan home__tour__pricing__plan--highlight">
            <h3 class="home__tour__pricing__plan__name">Hank</h3>
            <div class="home__tour__pricing__plan__included">
                <b>Unlimited</b> investigations
            </div>
            <div class="home__tour__pricing__plan__included">
                <b>1000</b> entities per investigation
            </div>
            <div class="home__tour__pricing__plan__included">
                <b>All</b> generic data schemes
            </div>
            <div class="home__tour__pricing__plan__included">
                <b>Public and private</b> investigations
            </div>
            <div class="home__tour__pricing__plan__included">
                <b>1</b> custom data schemes
            </div>
            <div class="home__tour__pricing__plan__subscribe">
                <a class="btn btn-lg btn-default">
                    Contact us
                </a>
            </div>
        </div>


        <div class="col-md-3 col-sm-6 home__tour__pricing__plan">
            <h3 class="home__tour__pricing__plan__name">Sherlock</h3>
            <div class="home__tour__pricing__plan__included">
                <b>Unlimited</b> investigations
            </div>
            <div class="home__tour__pricing__plan__included">
                <b>Unlimited</b> entities per investigation
            </div>
            <div class="home__tour__pricing__plan__included">
                <b>All</b> generic data schemes
            </div>
            <div class="home__tour__pricing__plan__included">
                <b>Public and private</b> investigations
            </div>
            <div class="home__tour__pricing__plan__included">
                <b>5</b> custom data schemes
            </div>
            <div class="home__tour__pricing__plan__subscribe">
                <a class="btn btn-lg btn-stroke">
                    Contact us
                </a>
            </div>
        </div>
    </div>
</div>