<form class="login-form reset-password panel panel-default top30 black"
      ng-class="{loading:loading}" 
      ng-submit="reset_password()"
      name="form">
    <div class="panel-body">
        <h2>Reset your password</h2>
        <fieldset ng-disabled="loading">
            <div class="form-group">
                <label for="inputEmail">Enter your email</label>
                <div class="input-group">
                    <input required
                         type="email"
                         name="email"
                         ng-model="email"
                         class="form-control"
                         ng-minlength="6"
                         id="inputEmail"
                         placeholder="Your account's email">
                    <span class="input-group-addon">
                        <i class="fa fa-check-square-o text-success" ng-show="form.newPassword.$valid"></i>
                        <i class="fa fa-square-o" ng-hide="form.newPassword.$valid"></i>
                    </span>  
                </div>
                <p class="text-muted top05">
                  We will send you an email containing a link to reset your password.
                </p>
            </div>
          <div class="alert alert-danger" ng-if="error">
            [[error]]
          </div>
        </fieldset>
        <div ng-show="!mailSent || error" class="tr panel-footer">
            <button type="submit" class="btn btn-primary">Send email</button>
        </div>
        <div class="alert alert-success" ng-hide="!mailSent || error">
            Your email has been sent, check your emails.</h2>
        </div>
    </div>
</form>