<span ng-switch on="isRich(field)">
	<span ng-switch-when="true">
		<div text-angular
			 ng-model="individual.fields[field.name]"
			 change-on-blur
			 id="id_[[field.name]]"></div>
	</span>

	<span ng-switch-default>
		<div ng-if="field.name != 'comment'">
			<input  type="text"
					class="form-control"
					ng-model="individual.fields[field.name]"
					change-on-blur
					id="id_[[field.name]]" />
		</div>

		<div ng-if="field.name == 'comment'">
			<textarea rows="5"
			          id="id_[[field.name]]"
					  change-on-blur
			          ng-model="individual.fields[field.name]"
			          class="form-control"></textarea>
		</div>
	</span>
</span>