<div id="contribute" ng-cloak>
	<div class="contribute-start panel" ng-class="{ open: showKickStart || !individuals.length }">
		<div class="container">
			<h2>Add a new entity to the database</h2>

			<div ng-repeat="resource in topicResources() track by $index">
				<div class="row top30">
					<div class="col-sm-3">
						<label class="btn btn-block btn-default btn-large">
							<input type="radio" value="[[resource.name]]" ng-model="new.type" class="hidden" />
							<div class="pull-left left10" ng-style="{color: strToColor(resource.name)}">
								<i class="fa fa-check-square" ng-show="new.type == resource.name"></i>
								<i class="fa fa-square-o" ng-hide="new.type == resource.name"></i>
							</div>
							[[resource.verbose_name]]
						</label>
					</div>
					<div class="col-sm-9 desc">
						[[resource.description]]
					</div>
				</div>
				<form class="row kick-start form-inline"
					  ng-if="new.type == resource.name"
					  ng-submit="addIndividual().save()">
					<label class="col-sm-3 control-label top10">
						Name of the [[resource.verbose_name]]
					</label>
					<div class="col-sm-9 input-group">
						<input type="text" class="form-control" ng-model="new.fields.name" />
						<button class="btn btn-primary">Create</button>
					</div>
				</form>
			</div>

		</div>
	</div>

	<div class="container tr top20">
		<a class="btn btn-default btn-large" ng-click="showKickStart = true"  ng-hide="showKickStart || !individuals.length">
			<i class="fa fa-plus right10"></i>
			Add a new entity
		</a>
		<a class="btn btn-default btn-large" ng-href="[[username]]/[[topic]]/contribute/upload">
			<i class="fa fa-upload right10"></i>
			Bulk upload
		</a>
	</div>

	<div class="individual-forms container" ng-if="individuals.length">

		<div class="individual panel panel-default"
			 ng-repeat="individual in individuals"
			 ng-class="{
			 	'loading': individual.loading,
			 	'closed': individual.isClosed,
			 	'saved': individual.isSaved()
			}">

			<a scroll-to="600" ng-if="scrollIdx == $index"></a>

			<div class="head panel-heading">
				<div class="btns">
					<span ng-if="individual.permalink()" >
						<a class="left10" ng-href="[[individual.permalink()]]">See in detail</a>
						<button class="btn btn-danger left10"
						   ng-if="user.hasDeletePermission(meta.ontology_as_mod)"
						   ng-click="individual.delete($index)">
							<i class="fa fa-trash-o"></i>
							Delete this entity
						</button>
					</span>
					<button ng-click="individual.close()" class="btn left10">
						<i class="fa fa-minus"></i>
					</button>
				</div>
				<h3>
					<div class="pull-left">
						<div color-tag ref="individual.type" />
					</div>
					<strong>
						[[individual.fields|individualPreview:"unkown"]]
					</strong>
					<span ng-if="individual.related_to">
						related to
						<a ng-click="scrollTo(individual.related_to)" href="">
							[[individual.related_to.fields|individualPreview:"unkown"]]
						</a>
					</span>
				</h3>
				<h4>[[individual.meta.verbose_name]]</h4>
			</div>

			<div class="alert alert-danger errors" ng-if="individual.error_message">
				[[individual.error_message]]
				<div ng-if="individual.error_traceback" class="pull-right">
					<button class="btn btn-xs btn-default" ng-click="individual.show_traceback = !individual.show_traceback" href="">
						Show traceback
					</button>
				</div>
				<div ng-if="individual.show_traceback" ng-bind-html-unsafe="individual.error_traceback|nl2br" class="top10"></div>
			</div>

			<div class="restore" ng-show="individual.isClosed">
				<div class="btns">
					<button ng-click="removeIndividual($index)" class="btn left10">
						<i class="fa fa-times"></i>
					</button>
				</div>
				<!-- [[ individual.fields ]] -->
				<strong ng-hide="individual.isNotFound">[[individual.fields|individualPreview:"unkown"]]</strong>
				<span ng-if="!individual.isRemoved && !individual.isNotFound">
					 has been closed.
					<a class="left10" ng-click="individual.close()">
						<i class="fa fa-plus right05"></i>
						Show detail
					</a>
				</span>
				<span ng-if="individual.isRemoved" class="text-danger">
					 has been removed. Your changes have not been registered.
				</span>
				<span ng-if="individual.isNotFound">
					<h4>Requested element cannot be found, <strong>don't panic</strong>.</h4>
					<p>
						You can go back to <a href="{% url 'home' %}">home page</a>.
					</p>
				</span>
				<div class="clearfix"></div>
			</div>

			<div class="form-horizontal panel-body">

				<div class="alert alert-warning" ng-if="!individual.field.id && individual.similars.length">
					<strong>Entities with similar name already exist!</strong>
					Switch to
					<span ng-repeat="similar in individual.similars">
						<a class="alert-link" ng-click="replaceIndividual($parent.$index, similar.id)" href="">[[similar.name]]</a>
						<span ng-if="!$last">,</span>
						<span ng-if="$last">.</span>
					</span>
				</div>

				<div class="row field form-group"
					 class-on-focus="is-active"
					 ng-class="{loading: individual.updating[field.name] && !individual.loading}"
				     ng-show="isAllowedType(field.type) && individual.isVisible(field) && individual.isEditable(field)"
					 ng-repeat="field in individual.meta.fields track by $index">

					<div class="col-sm-3 form-label top05">
						<label for="id_[[field.name]]">
							[[field.verbose_name]]
						</label>
						<p ng-if="field.help_text" class="help-block">
							[[field.help_text]]
						</p>
					</div>

					<!-- Each type has its own input -->
					<div ng-if="field.type == 'Relationship'" ng-include="'/partial/topic.contribute.type-relationship.html'"></div>
					<div ng-if="field.type == 'URLField'" ng-include="'/partial/topic.contribute.type-url.html'"></div>
					<div ng-if="field.type == 'DateTimeField'" ng-include="'/partial/topic.contribute.type-datetime.html'"></div>
					<div ng-if="field.type == 'CharField'" ng-include="'/partial/topic.contribute.type-text.html'"></div>
					<div ng-if="field.type == 'IntegerField'" ng-include="'/partial/topic.contribute.type-integer.html'"></div>

					<div class="add-source col-sm-3">
						<span class="add-source-wrapper">
							<button class="btn btn-primary add-source-toggle"
									ng-class="{active: field.showSourceForm}"
							        ng-click="field.showSourceForm = !field.showSourceForm">
								<i class="fa-book fa right05"></i>
								<span ng-if="individual.hasSource(field)">
									Edit source
								</span>
								<span ng-if="!individual.hasSource(field)">
									Add source
								</span>
							</button>
							<form class="add-source-form"
								  ng-submit="individual.setSource(field)"
								  ng-show="field.showSourceForm">
								<span ng-class="{ 'input-group': individual.hasSource(field) }">
									<input type="url"
										   ng-blur="individual.setSource(field)"
										   ng-model="individual.sources[field.name]"
										   placeholder="http://exemple.com"
										   class="form-control" />
									<span class="input-group-btn" ng-if="individual.hasSource(field)">
										<a target="_blank"
										   ng-href="[[individual.getSource(field).url]]"
										   class="btn btn-default">
											<i class="fa fa-external-link"></i>
										</a>
									</span>
								</span>
							</form>
						</span>
						<div class="add-source-overlay" ng-show="field.showSourceForm"></div>
					</div>


					<div class="has-source text-success col-sm-3 top05" ng-show="individual.hasSource(field)">
						<i class="fa fa-check-circle-o"></i> Sourced
					</div>


				</div>


				<div class="more-fields row field top20 form-group"
				     ng-show="individual.invisibleFields().length">

					<span class="col-sm-3 form-label ">
						Add more information
					</span>

					<div class="col-sm-9">
						<span ng-repeat="field in individual.meta.fields | filter:isVisibleAdditional(individual)">
							<a href="" ng-click="individual.showField(field)">[[field.verbose_name]]</a><span ng-if="!$last">, </span>
						</span>
					</div>
				</div>

			</div>

 			<div class="form-footer panel-footer">
 				<div class="row">
 					<div class="col-sm-offset-3 col-sm-9 top20 bottom20">
 						<span ng-if="individual.loading">
 							Loading...
 						</span>
 						<span ng-if="!individual.isSaved() && !individual.loading">
 							Saving changes...
 						</span>
 						<span ng-if="individual.isSaved() && !individual.loading">
 							<i class="fa fa-check right05"></i>
 							Changes saved!
 						</span>
 					</div>
 				</div>
 			</div>
		</div>
	</div>
</div>