{% load staticfiles %}

<div class="explore">

    <div class="banner banner-big" parallax=".bg" speed="0.7">
        <img ng-src="[[meta.background]]" class="bg" />
        <div class="fg top90 container">
            <div class="intro">
                <h2>[[meta.title]]</h2>
                <p class="lead" ng-if="meta.description" ng-bind-html="meta.description"></p>
                <p class="top40">
                    <a class="btn btn-stroke btn-lg right20" ng-if="user.hasAddPermission(topic) || true" ng-href="/[[username]]/[[topic]]/contribute">
                        Contribute
                    </a>
                    <a class="btn btn-primary btn-lg" ng-click="scrollToExplore = true">
                        Start to explore
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="bg-primary">
        <div class="container">
            <a scroll-to="600" ng-if="scrollToExplore == true" reset="scrollToExplore"></a>
            <div class="top50 bottom40">
                <div class="row">
                    <form class="col-md-8 col-md-push-2" role="search"  ng-controller="SearchFormCtrl">                        
                        <input type="search"
                                placeholder="Search linked individuals in our graph database..."
                                tt-typeahead
                                tt-individual="'summary'"
                                tt-topic="topic"
                                tt-model="selectedIndividual"
                                remote="/api/[[topic]]/v1/summary/human/?q=%QUERY"
                                prefetch="/api/[[topic]]/v1/summary/mine/"
                                value-key="label"
                                limit="10"
                                class="form-control"
                                id="input-search" />                        
                    </form>
                    <div class="col-md-8 col-md-push-2 lead top20" ng-if="types">
                        Navigate through
                        <span ng-repeat="form in filtered = ( forms | filter:isSearchable )">
                            <span ng-if="$last && !$first"> and </span>
                            <span ng-if="!$last && !$first">, </span>
                            <a ng-href="/[[username]]/[[topic]]/[[form.name]]" ng-init="count = getTypeCount(form.name)">
                                <strong>[[count]]</strong>
                                <span ng-if="count <= 1">[[form.verbose_name|lowercase]]</span>
                                <span ng-if="count > 1">[[form.verbose_name_plural|lowercase]]</span>
                            </a>
                            <span ng-if="$last">.</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr-primary bottom0" />

    <iframe src="http://jplusplus.cartodb.com/viz/60956ce4-9f98-11e3-b9ed-0e49973114de/embed_map?title=false&description=false&search=false&shareable=true&cartodb_logo=true&layer_selector=false&legends=false&scrollwheel=false&fullscreen=false&sublayer_options=1&sql=" width="100%" height="600px"  frameborder="0" allowfullscreen></iframe>     

    <div class="container">
        <div class="row">
            <div class="col-md-7">           
                <div class="row-fluid partners top20">

                    <div class="col-xs-4">
                        <img alt="NZZ" src="{% static 'detective/img/partners/01 - NZZ.png' %}" class="img-responsive" />
                    </div>
                    
                    <div class="col-xs-4">
                        <img alt="El Confidencial" src="{% static 'detective/img/partners/02 - El Confidencial.png' %}" class="img-responsive" />
                    </div>                    
                    
                    <div class="col-xs-4">
                        <img alt="Radiobubble" src="{% static 'detective/img/partners/03 - Radiobubble.png' %}" class="img-responsive" />
                    </div>                      

                    <div class="clearfix bottom20"></div>
                    
                    <div class="col-xs-4">
                        <img alt="Sydsvenskan" src="{% static 'detective/img/partners/04 - Sydsvenskan.png' %}" class="img-responsive" />
                    </div>

                    
                    <div class="col-xs-4">
                        <img alt="lespresso" src="{% static 'detective/img/partners/05 - lespresso.png' %}" class="img-responsive" />
                    </div>                
                    
                    <div class="col-xs-4">
                        <img alt="HLB" src="{% static 'detective/img/partners/06 - HLB.png' %}" class="img-responsive" />
                    </div>
                    
                    <div class="clearfix bottom20"></div>
                    
                    <div class="col-xs-4">
                        <img alt="Le Monde Diplomatique" src="{% static 'detective/img/partners/07 - Le Monde Diplomatique.png' %}" class="img-responsive" />
                    </div>

                    <div class="col-xs-4">
                        <img alt="EUObserver" src="{% static 'detective/img/partners/08 - EUObserver.png' %}" class="img-responsive" />
                    </div>

                    <div class="col-xs-4">
                        <img alt="MO" src="{% static 'detective/img/partners/09 - MO.png' %}" class="img-responsive" />
                    </div>

                </div>
            </div>
            <div class="visible-sm clearfix top20"></div>

            <div class="col-md-5">
                <h3>About the project</h3>
                <div ng-bind-html="meta.about"></div>
            </div>
        </div>
    </div>
</div>
