<div class="topic-delete container">
    <div class="panel panel-default" ng-show="!deleted">
        <form name="form" novalidate ng-submit="delete(form)">
            <div class="panel-body">
                <h1>Delete [[ topic.title ]] </h1>
                <p>
                    Be carefull, when you delete an investigation <b>all your data</b>
                    and all data your collaborators have contributed will be lost.
                </p>
                <div class="row form-group">
                    <label class="col-sm-12" for="delete_check_title">
                        Enter investigation title to confirm deletion
                    </label>
                    <div class="col-sm-12">
                        <input type="text"
                               class="form-control"
                               name="check_title"
                               id="delete_check_title"
                               ng-model="check_title"
                               ng-change="submitted=false"
                               match with="topic.title"
                               required>
                        <span class="text text-danger" ng-show="submitted && form.check_title.$error.match">
                            Title doesn't match
                        </span>
                        <span class="text text-danger" ng-show="submitted && form.check_title.$error.required">
                            You have to enter investigation title in order to delete it
                        </span>
                        <span class="text-danger" ng-if="submitted && error">
                            [[ error ]]
                        </span>
                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <button class="btn btn-danger pull-right" type="submit">I understood the risks, delete this investigation</button>
                <div class="clearfix"></div>
            </div>

        </form>
    </div>
    <div ng-show="deleted" class="alert alert-success">
        Your topic has been successfuly deleted ! We will redirect you to your dashboard.
    </div>
</div>