{% load staticfiles %}

<div class="explore">

	<div class="banner banner-big" parallax=".bg" speed="0.9">
		<img src="{% static 'detective-energy/heading.jpg' %}" class="bg" />
		<div class="fg top90 container">
			<div class="intro">
				<span class="logo">
					<img src="{% static 'detective-energy/logo.png' %}" />
				</span>
				<h2>Innovative energy projects in developing countries</h2>
				<p class="lead">A comprehensive database of every person and every organization linked to innovative energy projects.</p>
				<p class="top40">
					<a class="btn btn-stroke btn-lg right20" ng-if="user.hasAddPermission('energy')" ng-href="/[[username]]/energy/contribute">Contribute</a>
					<a class="btn btn-primary btn-lg" ng-click="scrollToExplore = true">Start to explore</a>
				</p>
			</div>
		</div>
	</div>

	<div class="bg-primary">
		<div class="container">
			<a scroll-to="600" ng-if="scrollToExplore == true" reset="scrollToExplore"></a>
			<div class="top50 bottom40">
				<div class="row">
					<form class="col-md-8 col-md-push-2" role="search"  ng-controller="SearchFormCtrl">
						<div class="input-group">
							<input type="search"
								    placeholder="Search linked individuals in our graph database..."
								 	tt-typeahead
									tt-individual="'summary'"
									tt-topic="'energy'"
									tt-model="selectedIndividual"
									remote="/api/energy/v1/summary/human/?q=%QUERY"
									prefetch="/api/energy/v1/summary/mine/"
									value-key="label"
									limit="10"
								   	class="form-control"
								   	id="input-search" />
					    </div>
					</form>
					<div class="col-md-8 col-md-push-2 lead top20" ng-if="types">
						Navigate through
						<a ng-href="/[[username]]/energy/energyproject"><strong>[[getTypeCount("energyproject")]]</strong> projects</a>,
						<a ng-href="/[[username]]/energy/person"><strong>[[getTypeCount("person")]]</strong> persons</a> and
						<a ng-href="/[[username]]/energy/organization"><strong>[[getTypeCount("organization")]]</strong> organizations</a>.
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr class="hr-primary" />

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h3>About the project</h3>
				<p>This comprehensive knowledge base draws up an inventory of innovative energy projects in developing countries. It rigorously lists <a href="energy/energyproject/">projects</a>, their <a href="energy/organization/">owners</a> and <a href="energy/person/">key persons</a> and the relationships that link them. Journalists, investors and development professionals now have access to a wide range of sourced and structured data. It will enable them to make better informed decision in a field that dramatically lacks scrutiny. </p>
				<p>The project was funded by a grant by the European Journalism Center in cooperation with the Bill &amp; Melinda Gates Foundation. It is done in partnership with <a href="http://liberation.fr/">Libération</a>, <a href="http://localenergynetwork.org/">Local Energy Network</a> and <a href="http://www.svd.se/">Svenska Dagbladet</a>.</p>
			</div>

			<div class="col-md-8 select-a-country">
				<div country-map model="selectedCountry" values="countries" class="top60" />
			</div>
		</div>
	</div>
</div>
