
  <div class="modal-header">
      <h3 class="modal-title">
          Add sources about <strong>[[ getFieldValue() ]]</strong>
      </h3>
  </div>
  <div class="modal-body">
      <form name="form"
            class="form-horizontal"
            novalidate>
        <!-- previously created sources -->
        <div class="form-group"
             ng-repeat="source in getSources() | orderBy:'id'">
            <div class='input-group' ng-class="{ loading: loading[source.id]}">
                <!-- source external link -->
                <span class="input-group-btn" ng-if="isSourceURLValid(source)">
                    <a target="_blank"
                       ng-click="$event.stopPropagation()"
                       ng-href="[[source.reference]]"
                       class="btn btn-default">
                        <i class="fa fa-external-link"></i>
                    </a>
                </span>
                <!-- source input -->
                <input type="text"
                       autocorrect="off"
                       autocapitalize="off"
                       name="source[[$index]]"
                       no-duplicates="getSourcesRefs()"
                       ng-model="source.reference"
                       ng-blur="updateSource(source)"
                       ng-focus="focus_new=false"
                       ng-disabled="loading[source.id]"
                       class="form-control"/>

                <!-- source delete button -->
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default delete-source-btn"
                        ng-disabled="loading[source.id]"
                        ng-click="deleteSource(source)">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </span>
            </div>
            <!-- duplicate error handling -->
            <span class='text-danger' ng-if="form['source' + $index].$error.nodup">Source already exists, please enter another value</span>
        </div>
      </form>
      <!-- new source form -->
      <form
        name="form_add"
        class="form-horizontal"
        ng-submit="addSource(new_source, form_add); new_source=undefined"
        novalidate>
          <div class='form-group'>
              <div class="input-group">
                  <input type="text"
                         name="new_source"
                         autocorrect="off"
                         autocapitalize="off"
                         focus-on="focus_new"
                         ng-model="new_source"
                         ng-disabled="isLoading()"
                         placeholder="http://exemple.com"
                         class="form-control" />
                  <span class="input-group-btn">
                      <button type="submit" class="btn btn-default add-source-btn"
                          ng-disabled="isLoading()">
                          <i class="fa fa-plus"></i>
                      </button>
                  </span>
              </div>
          </div>
      </form>
  </div>
<div class="modal-footer" ng-class="{ loading: isloading() }">
    <button class="btn btn-primary"
            ng-click="save(form, true)">
        <strong>Save</strong>
    </button>
</div>