<form name="form"
      class="form-horizontal"
      novalidate>
    <div class="modal-header">
        <h3 class="modal-title">
            Add sources about <strong>[[ getFieldValue() ]]</strong>
        </h3>
    </div>
    <div class="modal-body">
        <!-- previously created sources -->
        <div class="form-group"
             ng-repeat="source in getSources()">
            <div class='input-group'>
                <!-- source external link -->
                <span class="input-group-btn" ng-if="isSourceURLValid(source)">
                    <a target="_blank"
                       ng-click="$event.stopPropagation()"
                       ng-href="[[source.reference]]"
                       class="btn btn-default">
                        <i class="fa fa-external-link"></i>
                    </a>
                </span>
                <!-- source input -->
                <input type="text"
                       autocorrect="off"
                       autocapitalize="off"
                       focus-on="focused === source.reference && !loading"
                       name="source[[$index]]"
                       no-duplicates="getSourcesRefs()"
                       ng-model="source.reference"
                       ng-disabled="loading"
                       class="form-control"/>

                <!-- source delete button -->
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default delete-source-btn"
                        ng-disabled="loading"
                        ng-click="deleteSource(source)">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </span>
            </div>
            <!-- duplicate error handling -->
            <span class='text-danger' ng-if="form['source' + $index].$error.nodup">Source already exists, please enter another value</span>
        </div>
        <!-- new source form -->
        <div class='form-group'>
            <input type="text"
               name="new_source"
               autocorrect="off"
               autocapitalize="off"
               ng-change="addSource(new_source); new_source=undefined"
               focus-on="!focused && !loading"
               ng-model="new_source"
               ng-disabled="loading"
               placeholder="http://exemple.com"
               class="form-control" />
        </div>
    </div>
</form>
<div class="modal-footer" ng-class="{ loading: loading }">
    <button class="btn btn-primary"
            ng-click="save(form, true)">
        <strong>Save</strong>
    </button>
</div>