<div class="individual-card panel panel-default" ng-mouseenter="loadRelProperties()">
	<h5 class="panel-heading" ng-if="model.rules.is_searchable">
		<a ui-sref="user-topic-detail(singleParams())">
			[[individual|individualPreview:"No preview"]]
			<i class="fa fa-info-circle left05" ng-if="field.rules.has_properties"></i>
		</a>
	</h5>
	<h5 class="panel-heading" ng-if="!model.rules.is_searchable">
		[[individual|individualPreview:"No preview"]]
		<i class="fa fa-info-circle left05"></i>
	</h5>
	<div ng-if="mightHaveProperties()">
		<div class="individual-card__details" ng-if="relProperties.length">
			<table class="table table-striped">
				<tr>
					<td class="text-center" colspan="2">
						<h6>About this relationship</h6>
					</td>
				</tr>
				<tr ng-repeat="property in relProperties">
					<td style="width: 30%">
						<strong>[[property.verbose_name]]</strong>
					</td>
					<td>
						<span ng-bind="get(property.name, true) | date:'longDate'" ng-if="property.type == 'DateTimeField'"></span>
						<span ng-if="!isString(property) && property.type != 'DateTimeField'">
							<span ng-if="property.type != 'BooleanField'" ng-switch on="isRich(property)">
								<span ng-switch-when="true" ng-bind-html="getTrusted(property.name)"></span>
								<span ng-switch-default ng-bind="get(property.name, true) | linky:'_blank'"></span>
							</span>
							<span ng-if="property.type == 'BooleanField'">
								<i class='fa' ng-class='{"fa-square-o": !get(property.name, true), "fa-check-square-o": get(property.name, true)}'></i>
							</span>
						</span>
						<span ng-if="isString(property) && property.name != 'imageURL'" ng-bind-html="get(property.name, true) | linky:'_blank'"></span>
					</td>
				</tr>
			</table>
		</div>
		<div class="individual-card__details individual-card__details--empty" ng-if="!relProperties.length">
			<div class="alert alert-info" ng-if="!loadingProperties">
				No additional information available.
			</div>
			<div class="alert alert-info" ng-if="loadingProperties">
				Loading...
			</div>
		</div>
	</div>
</div>