<div class="modal-header">
    <h3 class="modal-title">
    	Relationship between
    	<strong>[[form.relationship.source|individualPreview]]</strong>
    	and
    	<strong>[[form.relationship.target|individualPreview]]</strong>
    </h3>
</div>
<div class="modal-body">
	<div class="form-group"
	     ng-repeat="field in form.meta.fields | filter:form.isEditable track by $index">

		<label for="id_[[field.name]]">
			[[field.verbose_name|titlecase]]
		</label>

		<!-- Each type has its own input -->
		<div ng-if="field.type == 'URLField'" ng-include="'/partial/topic.contribute.type-url.html'"></div>
		<div ng-if="field.type == 'DateTimeField'" ng-include="'/partial/topic.contribute.type-datetime.html'"></div>
		<div ng-if="field.type == 'CharField'" ng-include="'/partial/topic.contribute.type-text.html'"></div>
		<div ng-if="field.type == 'IntegerField'" ng-include="'/partial/topic.contribute.type-integer.html'"></div>

		<p ng-if="field.help_text" class="help-block">
			[[field.help_text]]
		</p>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()">
    	<strong>Save</strong>
    </button>
    <button class="btn btn-default" ng-click="cancel()">
    	Cancel
    </button>
</div>