{% load staticfiles %}

<div class="explore">

    <div class="banner banner-big" parallax=".bg" speed="0.7">
        <img ng-src="[[meta.background]]" class="bg" />
        <div class="fg top90 container">
            <div class="intro">
                <h2>[[meta.title]]</h2>
                <p class="lead" ng-if="meta.description" ng-bind-html="meta.description"></p>
                <p class="top40">
                    <a class="btn btn-stroke btn-lg right20" ng-if="user.hasAddPermission(meta.ontology_as_mod)" ng-href="/[[username]]/[[topic]]/contribute">
                        Contribute
                    </a>
                    <a class="btn btn-primary btn-lg" ng-click="scrollToExplore = true">
                        Start to explore
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="bg-primary">
        <div class="container">
            <a scroll-to="600" ng-if="scrollToExplore == true" reset="scrollToExplore"></a>
            <div class="top50 bottom40">
                <div class="row">
                    <form class="col-md-8 col-md-push-2" role="search"  ng-controller="SearchFormCtrl as search">
                        <input type="search"
                                placeholder="[[ search.topic.search_placeholder ]]"
                                tt-typeahead
                                tt-individual="'summary'"
                                tt-topic="search.topic.slug"
                                tt-model="search.selectedIndividual"
                                tt-endpoint="'human'"
                                value-key="label"
                                limit="10"
                                class="form-control"
                                id="input-search" />
                    </form>
                    <div class="col-md-8 col-md-push-2 lead top20" ng-if="types">
                        Navigate through
                        <span ng-repeat="form in filtered = ( forms | filter:isSearchable | orderBy:'index' )">
                            <span ng-if="$last && !$first"> and </span>
                            <span ng-if="!$last && !$first">, </span>
                            <a ng-href="/[[username]]/[[topic]]/[[form.name]]" ng-init="count = getTypeCount(form.name)">
                                <strong>[[count]]</strong>
                                <span ng-if="count <= 1">[[form.verbose_name]]</span>
                                <span ng-if="count > 1">[[form.verbose_name_plural]]</span>
                            </a>
                            <span ng-if="$last">.</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr-primary" />

    <div class="container">
        <div class="row" ng-init="display_map=shouldDisplayMap()">
            <div class="about" 
                 ng-class="{ 'col-md-4': display_map, 'col-md-8 col-md-push-2': !display_map}">
                <h3>About the project</h3>
                <div ng-bind-html="meta.about"></div>
            </div>
            <div ng-show="display_map" class="col-md-8 select-a-country">
                <div country-map model="selectedCountry" values="countries" class="top60" />
            </div>
        </div>
    </div>
</div>
