<div id="individual-single">

	<div class="front" ng-style="frontStyle(type)">

		<div class="container">
			<div class="pull-left">
				<div class="pull-left">
					<div color-tag ref="type"></div>
				</div>
				<h2 class="bottom0 top0 left60">[[individual|individualPreview]]</h2>
				<a ng-href="/[[username]]/[[topic]]/[[type]]" class="lead text-muted left60">[[meta.verbose_name]]</a>
			</div>
			<div ng-show="hasNetwork()" class="network">
				<graphviz data="graphnodes" topic="topic"></graphviz>
			</div>
		</div>

	</div>

	<div class="container">

		<div class="row">

			<div class="col-md-4 col-md-push-8">
				<div class="panel panel-default padding10 text-right">
					<span class="btn-group pull-left">
						<a class="btn btn-default"
						   ng-if="user.hasChangePermission(topicmeta.ontology_as_mod)"
						   ng-href="/[[username]]/[[topic]]/contribute/?type=[[type]]&amp;id=[[individual.id]]">
							<i class="fa fa-edit"></i>
							Edit
						</a>
						<a class="btn btn-default"
						   ng-if="user.hasDeletePermission(topicmeta.ontology_as_mod)"
						   ng-click="deleteNode()">
							<i class="fa fa-trash-o"></i>
						</a>
					</span>
					<span class="btn-group">
						<a class="btn btn-default" target="_blank" ng-href="/api/[[topic]]/v1/[[type]]/[[individual.id]]/?format=json">
							<i class="fa fa-download"></i>
							JSON
						</a>
					</span>
				</div>

				<div ng-show="hasRels()">
					<h3>Jump to...</h3>
					<div class="panel panel-default padding10">
						<ul class="nav nav-pills nav-stacked">
						 	<li ng-repeat="field in meta.fields|filter:isRelationship" ng-show="get(field.name)">
						 		<a ng-click="scrollTo('rels-' + field.name)">
						 			[[field.verbose_name]]
						 		</a>
						 	</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-md-8 col-md-pull-4">
				<div class="panel panel-default">

					<div class="panel-body">
						<table class="table table-striped">
							<tbody>
							 	<tr ng-repeat="field in meta.fields|filter:isLiteral" ng-if="get(field.name) && field.name != 'name'">
							 		<td class="nowrap field-name" ng-if="!isMono(field)">
							 			<strong>[[field.verbose_name]]</strong>
							 		</td>
							 		<td ng-if="!isMono(field)">
							 			<span ng-bind="get(field.name) | date:'longDate'" ng-if="field.type == 'DateTimeField'"></span>
							 			<span ng-bind="get(field.name)" ng-if="!isString(field.type) && field.type != 'DateTimeField'"></span>
							 			<span ng-bind-html="get(field.name) | linky:'_blank'" ng-if="isString(field.type) && field.name != 'imageURL'"></span>
							 		</td>
						 			<td ng-if="isMono(field) && get(field.name)" colspan="3">
						 				<div ng-if="isAddr(field) || isGeoloc(field)">
								 			<strong>[[field.verbose_name]]</strong>
								 			<a class="map" ng-href="https://www.google.fr/maps/?q=[[get(field.name)]]" target="_blank">
								 				<span class="lab">
								 					[[get(field.name)]]
								 				</span>
								 				<img ng-src="http://maps.googleapis.com/maps/api/staticmap?markers=color:0xFBD154|[[get(field.name)]]&amp;zoom=13&amp;size=640x300&amp;maptype=roadmap&amp;sensor=false&amp;visual_refresh=true" />
								 			</a>
								 		</div>
						 				<div ng-if="isImg(field)" class="img-preview">
						 					<img ng-src="[[get(field.name)]]" class="pull-left img-responsive" />
						 				</div>
						 			</td>
						 			<td class="field-source text-right" ng-if="!isMono(field)">
						 				<a  ng-if="getSource(field)"
						 				    ng-href="[[getSource(field).url]]"
						 				    target="_blank">
						 					Source
						 				</a>
						 			</td>
							 	</tr>
							 </tbody>
						</table>

					 	<div class="relationship"
					 		  ng-repeat="field in meta.fields|filter:isRelationship"
					 		  ng-show="get(field.name)"
					 		  id="rels-[[field.name]]">
			 				<a  ng-if="getSource(field)"
			 				    ng-href="[[getSource(field).url]]"
			 				    class="field-source"
			 				    target="_blank">
			 					Source
			 				</a>
					 		<h3>
								<div color-tag ref="field.related_model" class="pull-left small right10" />
					 			[[field.verbose_name]]
					 		</h3>
					 		<ul class="list-inline">
					 			<li ng-repeat="rel in get(field.name)">
					 				<card ng-model="rel" topic="topic" username="username" type="field.related_model"></card>
					 			</li>
					 		</ul>
					 	</div>

					</div>
				</div>
			</div>

		</div>
	</div>
</div>