<form class="row" name="form" ng-submit="submit(form)" novalidate>
  <div class="col-sm-8">
    <div class="form-horizontal panel panel-default"
         ng-class="{
            'error': max_reached,
            'saved': isEditing() && !!saved,
            'loading': loading.main
          }"
         id="topic-form">

        <div class="panel-heading" ng-show="isCreating() && max_reached">
            <h3 class="panel-title">You've reached the limit of your plan! </h3>
            Your <span class="bold">[[ plan_name ]]</span> plan lets you store [[ topics_max ]] collections.
            You're now at [[ topics_count ]]. If you want to create new data collections it's time
            to <a ui-sref="plans">upgrade</a>!
        </div>

        <div class="panel-body">
            <!-- Topic title field -->
            <div class="row form-group">
                <div class="col-sm-4 form-label top05">
                    <label for="id_topic_title">Title</label>
                    <p class="help-block" ng-if="isCreating()">
                        Mandatory.<br/>
                        You <b>cannot</b> change it later.
                    </p>
                </div>
                <div class="col-sm-8">
                    <input id="id_topic_title"
                           name="title"
                           ng-disabled="loading.main || max_reached || isEditing()"
                           class="form-control"
                           ng-model="topic.title"
                           required>
                </div>
                <span ng-show="submitted && form.title.$error.required " class="text-danger col-sm-8">Enter a title.</span>
                <span ng-show="submitted && error && error.title" class="text-danger col-sm-8">[[error.title]]</span>
            </div>
            <!-- Topic public/private field. We show this checkbox only on creation.
                 For edition we add a danger-zone at <thead></thead> botton of this form. -->
            <div class="row form-group" ng-if="isCreating()"
                 ng-class="{ disabled: !canChangePrivacy()}">
                <div class="col-sm-4 form-label top05">
                  <label for="id_topic_private">
                    Make this data collection private
                  </label>
                  <p class="help-block">
                    Hide this data collection from the public
                  </p>
                </div>
                <div class="col-sm-8 top05">
                    <input type="checkbox" id="id_topic_private"
                           ng-model="topic_private"
                           ng-change="topic.public = !topic_private"
                           ng-disabled="!canChangePrivacy()"
                           class="pull-left top05">
                    <label class='pull-left disabled-explanation' ng-show="!canChangePrivacy()">
                        Only <a ui-sref="plans">paid plans</a> can make private data collections.
                    </label>
                </div>
            </div>
            <!-- Topic subtitle/description field -->
            <div class="row form-group">
                <div class="col-sm-4 form-label top05">
                    <label for="id_topic_description">Subtitle</label>
                </div>
                <div class="col-sm-8">
                    <div  id="id_topic_description"
                           name="description"
                           class="short-text"
                           text-angular
                           ta-disabled="loading.main || max_reached"
                           ng-model="topic.description"></div>
                </div>
            </div>

            <!-- Topic background field -->
            <div class="row form-group" ng-if="isEditing()">
                <div class="col-sm-4">
                  <label>Cover picture</label>
                </div>
                <div class="col-sm-8">
                  <span class="text-disabled" ng-if="!!!topic.background">No picture</span>
                  <div class="thumbnail pull-left"  ng-if="topic.background">
                    <img title="Cover picture of [[ topic.title ]]"
                         ng-src="[[topic.thumbnail.medium]]"/>
                    <div class="caption">
                      <a ng-click="deleteTopicBackground()">
                        <i class="fa fa-trash"></i>
                        Remove this picture
                      </a>
                      <a target="blank" class="pull-right" href="[[topic.background]]">
                        <i class="fa fa-external-link"></i>
                      </a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 form-label top05">
                    <label for="id_topic_about">
                      <span ng-if="isCreating()">Cover picture</span>
                      <span ng-if="isEditing()">Enter a new picture</span>
                    </label>
                    <p class="help-block">
                        Enter the URL of your photo (max. 1MB).
                    </p>
                </div>
                <div class="col-sm-8">
                    <input type="url"
                           name="background_url"
                           ng-model="topic.background_url"
                           ng-disabled="loading.main || max_reached"
                           class="form-control">
                </div>
                <span class="col-sm-8 text-danger"
                      ng-show="submitted && form.background_url.$error.url">
                    You have to enter a valid URL.
                </span>
                <span class="col-sm-8 text-danger"
                      ng-show="submitted && (error.background_url.unavailable || error.background_url.not_an_image)">
                    Sorry, we're haven't managed to process your photo. Please try another one.
                </span>
                <span class="col-sm-8 text-danger"
                      ng-show="submitted && error.background_url.oversized_file">
                    Sorry, your file is too big and would hinder your data collection from loading smoothly. Please enter a different URL.
                </span>
            </div>
            <!-- Topic about field -->
            <div class="row form-group">
                <div class="col-sm-4 form-label top05">
                    <label for="id_topic_about">About your data collection</label>
                    <p class="help-block">
                        Less than 1500 char.
                    </p>
                </div>
                <div class="col-sm-8">
                    <div text-angular
                         name="about"
                         class="long-text"
                         ta-disabled="loading.main || max_reached"
                         ng-model="topic.about"
                         id="id_topic_description"></div>
                </div>
            </div>
            <div class="form-footer__wrapper text-right">
                <button type="submit" class="form-footer__submit-btn btn btn-primary" ng-disabled="isCreating() && max_reached">
                    <span ng-if="isCreating()">I'm done, create the data collection</span>
                    <span ng-if="isEditing()">Save changes</span>
                </button>
            </div>
        </div>

        <div class="panel-footer form-footer" ng-show="isEditing() && !!saved">
          <div class="text-right top20 bottom20">
            <i class="fa fa-check right05"></i>
            <span class="text-success">Changes saved!</span>
            <span ng-if="topic.slug">&nbsp;Go to <a ui-sref="user-topic({
                username: user.username,
                topic: topic.slug
              })">[[ topic.title ]]</a>
            </span>
          </div>
        </div>
    </div>

    <div class="panel panel-danger top15" ng-if="isEditing()"
         ng-class="{
          disabled: !canChangePrivacy(),
          loading: loading.privacy
         }">
        <div class="panel-heading">
            Danger zone
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-label col-sm-8">
                    <label class="bottom0">
                        Make this data collection
                        <span ng-if="isPrivate()">public</span>
                        <span ng-if="isPublic()">private</span>
                    </label>
                    <p class="help-block top0" ng-if="isPrivate()">
                        Make this data collection visible to anyone.<br/>
                        Even when it's public, only collaborators can add data.
                    </p>
                    <p class="help-block top0" ng-if="isPublic()">
                        Hide this data collection from the public.
                    </p>
                </div>
                <div class="col-sm-3 col-sm-push-1">
                    <button type="button"
                            class="btn btn-danger btn-block"
                            ng-if="isEditing()"
                            ng-disabled="loading.privacy || !canChangePrivacy()"
                            ng-click="changePrivacy(form)">
                        <i class="fa"
                            ng-class="{
                               'fa-unlock': isPrivate(),
                               'fa-lock': isPublic()
                            }">
                        </i>&nbsp;
                        <span ng-if="isPublic()">Make private</span>
                        <span ng-if="isPrivate()">Open to public</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-label col-sm-8">
                    <label class="bottom0">
                        Delete this data collection
                    </label>
                    <p class="help-block top0">
                        This is a destructive action
                    </p>
                </div>
                <div class="col-sm-3 col-sm-push-1">
                    <button type="button"
                            class="btn btn-danger btn-block"
                            ui-sref="user-topic-delete({
                                'topic': topic.slug,
                                'username': topic.author.username
                            })">
                        <i class="fa fa-trash"></i>&nbsp;
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="col-sm-4" ng-if="isCreating()">
    <div class="topic-form__selected-ontology panel panel-default" ng-show="selected_skeleton">
      <div class="topic-form__selected-ontology__front" style="background-image: url('[[selected_skeleton.thumbnail.medium]]');">
        <h3 class="topic-form__selected-ontology__front__title">[[selected_skeleton.title]]</h3>
        <div class="lead topic-form__selected-ontology__front__description" ng-bind-html="selected_skeleton.description"></div>
      </div>
      <div class="panel-body topic-form__selected-ontology__body" ng-show="selected_skeleton.blank">
        <p>You can choose the precise type of data that you need in you data collection.</p>
      </div>
      <div class="panel-body topic-form__selected-ontology__body" ng-show="modelsNames(selected_skeleton.ontology).length">
        <p>This template will let you add:</p>
        <span ng-repeat="model in modelsNames(selected_skeleton.ontology)">
          <span class="topic-form__selected-ontology__body__model" style="background: [[model|strToColor]]">[[model]]</span>
        </span>
        <p class="text-muted">And relationships between each other.</p>
      </div>
    </div>
  </div>
</form>
